<template>
  <section class="mb-3">
    <ul>
      <li v-for="message in messages" 
        v-bind:key="message.uid">
        <a @click="clearMessage(message.uid)">
          <span class="icon mr-2"><i class="fas fa-bell"></i></span>
          <span>{{ message.message }}</span>
        </a>
      </li>
    </ul>
  </section>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'Messages',
  computed: {
    ...mapState({
      messages: state => state.messages
    })
  },
  methods: {
    clearMessage(uid) {
      this.$store.dispatch('clearMessage', { uid: uid })
    }
  }
}
</script>
