<template>
  <section class="navigation">
    <nav class="navbar">
      <div class="navbar-brand">
        <div class="navbar-item">
          <a @click="goHome" class="app-name">
            <strong>SYV</strong>
          </a>
        </div>
        <a @click="toggleMobileMenu" class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div v-if="isLoggedIn" class="navbar-start">
          <router-link to="/" class="navbar-item">Home</router-link>
          <router-link v-if="isSuper" to="/user/" class="navbar-item">Users</router-link>
          <router-link v-if="isSuper" to="/role/" class="navbar-item">Roles</router-link>
          <router-link v-if="isAdmin" to="/tome/" class="navbar-item">Tomes</router-link>
          <router-link v-if="isAdmin" to="/tank/" class="navbar-item">Tanks</router-link>
          <router-link v-if="isAdmin" to="/pump/" class="navbar-item">Pumps</router-link>
          <router-link to="/cycle/" class="navbar-item">Cycles</router-link>          
        </div>
        <div class="navbar-end">
          <router-link v-if="!isLoggedIn && !isLoginRoute" to="/login/" class="navbar-item">Login</router-link>
          <div v-if="isLoggedIn" class="navbar-item">
            <span v-if="isSuper" class="icon"><i class="fas fa-crown"></i></span>
            <span v-if="isAdmin" class="icon"><i class="fas fa-wrench"></i></span>
            <span :class="{ 'ml-3': isSuper || isAdmin }"><strong>{{ userName }}</strong></span>
          </div>
          <router-link v-if="isLoggedIn" :to="{ name: 'change-password', params: { which:userUid } }" class="navbar-item">
            Change Password
          </router-link>        
          <a v-if="isLoggedIn" class="navbar-item" @click="logout">Logout</a>        
          <router-link v-if="isLoggedIn" to="/about/" class="navbar-item">About</router-link>
        </div>
      </div>
    </nav>
    <transition name="mobile-menu">
      <div v-show="show_mobile_menu" id="mobile-menu" class="menu">
        <ul class="menu-list" v-if="isLoggedIn">
          <li><router-link to="/" class="navbar-item">Home</router-link></li>
          <li v-if="isSuper"><router-link to="/user/">Users</router-link></li>
          <li v-if="isSuper"><router-link to="/role/">Roles</router-link></li>
          <li v-if="isAdmin"><router-link to="/tome/">Tomes</router-link></li>
          <li v-if="isAdmin"><router-link to="/tank/">Tanks</router-link></li>
          <li v-if="isAdmin"><router-link to="/pump/">Pumps</router-link></li>
          <li><router-link to="/cycle/" class="navbar-item">Cycles</router-link></li>
        </ul>
        <hr/>
        <p v-if="isLoggedIn" class="pl-3">
            <span v-if="isSuper" class="icon"><i class="fas fa-crown"></i></span>
            <span v-if="isAdmin" class="icon"><i class="fas fa-wrench"></i></span>
            <span :class="{ 'ml-3': isSuper || isAdmin }"><strong>{{ userName }}</strong></span>          
        </p>
        <ul class="menu-list">
          <li v-if="!isLoggedIn">
            <router-link to="/login/" class="navbar-item">Login</router-link>
          </li>
          <li v-if="isLoggedIn">
            <router-link :to="{ name: 'change-password', params: { which:userUid } }" class="navbar-item">
              Change Password
            </router-link>        
          </li>
          <li v-if="isLoggedIn">
            <a class="navbar-item" @click="logout">Logout</a>        
          </li>
          <li v-if="isLoggedIn">
            <router-link to="/about/" class="navbar-item">About</router-link>
          </li>
        </ul>
      </div>
    </transition>
  </section>
</template>

<script>

import { mapGetters } from 'vuex'

export default {
  name: 'NavBar',
  data () {
    return {
      show_mobile_menu: false
    }    
  },
  methods: {
    logout () {
      this.$store.dispatch('logout')
        .then(() => this.$router.push('/login/'))
        .then(() => this.$store.dispatch('addMessages', { 
          messages: ['Logged out.']
        }))    
    },
    toggleMobileMenu () {
      this.show_mobile_menu = !this.show_mobile_menu
    },
    goHome () {
      if(this.isLoggedIn && this.$route.name != 'home') {
        this.$router.push('/')
      }
    }
  },
  computed: {
    ...mapGetters([
      'userUid', 
      'userName',
      'isLoggedIn',
      'isAdmin',
      'isSuper'
    ]),
    isLoginRoute () {
      return this.$route.name === 'login'
    }
  }
}
</script>
<style>
.mobile-menu-enter-active,
.mobile-menu-leave-active {
  transition: max-height 0.5s ease-in-out;
}

.mobile-menu-enter-to,
.mobile-menu-leave {
  overflow: hidden;
  max-height: 1000px;
}

.mobile-menu-enter,
.mobile-menu-leave-to {
  overflow: hidden;
  max-height: 0;
}

.navbar-brand .app-name {
  letter-spacing: -0.12em;
  font-family: serif;
  transform: scaleY(2.0);
  font-style: italic;
  color: #000000;
}
</style>
