<template>
  <div class="page-controls column">
    <div class="buttons is-right">
      <a class="button is-small" :disabled="!canDec" @click="first()">
        <span class="icon">
          <i class="fas fa-angle-double-left"></i>
        </span>
      </a>
      <a class="button is-small" :disabled="!canDec" @click="prev()">
        <span class="icon">
          <i class="fas fa-angle-left"></i>
        </span>
      </a>
      <span class="mb-3 mx-3 help">
        {{ from }} to {{ to }} of {{ count }}
      </span>
      <a class="button is-small" :disabled="!canInc" @click="next()">
        <span class="icon">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
      <a class="button is-small" :disabled="!canInc" @click="last()">
        <span class="icon">
          <i class="fas fa-angle-double-right"></i>
        </span>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  name: 'PageControls',
  props: {
    skip: Number,
    take: Number,
    count: Number
  },
  computed: {
    skip_val: {
      get () {
        return this.skip
      },
      set (x) {
        this.$emit('input', x)
      }
    },
    from () {
      return this.skip + 1
    },
    to () {
      const to = this.skip + this.take
      return Math.min(to, this.count)
    },
    canInc () {
      return (this.skip + this.take) < this.count
    },
    canDec () {
      return (this.skip > 0)
    }
  },
  methods: {
    next () {
      if(this.canInc) {
        this.skip_val += this.take
      }
    },
    prev () {
      if(this.canDec) {
        this.skip_val = Math.max(this.skip - this.take, 0)
      }
    },
    last () {
      if(this.canInc) {
        this.skip_val = this.count - this.take
      }
    },
    first () {
      if(this.canDec) {
        this.skip_val = 0
      }
    }
  }
}
</script>
