<template>
  <div class="ghost has-text-centered has-text-grey-light mt-4">
    <p class="py-3 pl-2">
      <span class="icon is-size-1">
        <i class="fas fa-paper-plane"></i>
      </span>
    </p>
    <p class="pb-2">
      <span class="is-size-5">
        <em>Ready to commit.</em>
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Ready'
}
</script>
<style>
.ghost em {
  font-family: serif;
}
</style>
