<template>
  <div class="role-refs">
    <div v-for="role in allRoles" v-bind:key="role.uid">
      <label class="checkbox">
        <input type="checkbox" class="mr-3" :value="role.uid" v-model="roles" :disabled="disabled">
        <span>{{ role.name }}</span>
      </label>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  props: {
    role_uids: Array,
    disabled: Boolean
  },
  name: 'RoleRefs',
  computed: {
    ...mapState({
      allRoles: state => state.role.roles
    }),
    roles: {
      get() {
        return this.role_uids
      },
      set(x) {
        this.$emit('input', x)
      }
    }
  },
  beforeMount() {
    this.$store.dispatch('loadRoles', {skip:0})
  }
}
</script>
