<template>
  <div class="spinner has-text-centered has-text-grey-light mt-4">
    <p class="py-3 pl-4">
      <span class="icon is-size-1">
        <i class="fas fa-circle-notch"></i>
      </span>
    </p>
    <p v-if="message" class="pb-2">
      <span class="is-size-5">
        <em>{{ message }}</em>
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Spinner',
  props: {
    message: String
  }
}
</script>
<style>
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(720deg);
  }
}
.spinner span.icon {
  animation: 1.5s ease-in-out infinite spinner;
}
.spinner em {
  font-family: serif;
}
</style>
