<template>
<section v-if="anyTabs">
  <div class="tabs">
    <ul>
      <li v-for="(tab, idx) in tabs" 
        :class="{ 'is-active': currentTab === tab.name }"
        v-bind:key="idx">
        <a @click="switchTab(tab.name)">
          <span class="icon">
            <i :class="`fa fa-${tab.faCode}`"></i>
          </span>
          <span>
            {{ tab.title }}
          </span>
        </a> 
      </li>
    </ul>
  </div>
</section>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Tabs',
  computed: {
    ...mapGetters(['currentTab']),
    tabs() {
      return this.$route.meta.tabs
    },
    anyTabs() {
      return (this.$route.meta.tabs && this.$route.meta.tabs.length > 0)
    }
  },
  methods: {
    switchTab(name) {
      this.$store.dispatch('switchTab', { tab: name })
    }
  }
}
</script>
