<template>
  <section class="hero is-primary is-small">
    <div class="hero-body">
      <h1 class="title">
        <span class="icon ml-3 mr-6"><i :class="iconClass"></i></span>
        <span class="route-name" v-bind:class="{ 'is-italic': showDirty }">{{ title }}</span>
        <span class="is-italic" v-if="showDirty">*</span>
      </h1>
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'TitleBar',
  computed: {
    ...mapState({
      dirty: state => state.dirty,
      user: state => state.user.user,
      role: state => state.role.role,
      tome: state => state.tome.tome,
      tank: state => state.tank.tank,
      pump: state => state.pump.pump,
      cycle: state => state.cycle.cycle
    }),
    title () {
      if (this.$route.name === 'cycle' && this.cycle) {
        return this.cycle.pump_display_name
      } else if (this.$route.name === 'user' && this.user) {
        return (this.user.uid && this.user.name) ? this.user.name : this.$route.meta.title
      } else if (this.$route.name === 'role' && this.role) {
        return (this.role.uid && this.role.name) ? this.role.name : this.$route.meta.title
      } else if (this.$route.name === 'tome' && this.tome) {
        return (this.tome.uid && this.tome.name) ? this.tome.name : this.$route.meta.title
      } else if (this.$route.name === 'tank' && this.tank) {
        return (this.tank.uid && this.tank.name) ? this.tank.name : this.$route.meta.title
      } else if (this.$route.name === 'pump' && this.pump) {
        return (this.pump.uid && this.pump.name) ? this.pump.name : this.$route.meta.title
      } else {
        return this.$route.meta.title
      }
    },
    iconClass () {
      if (this.$route.name === 'cycle' && this.cycle) {
        return `fas fa-${this.cycle.pump_fa_code}`
      } else {
        return `fas fa-${this.$route.meta.faCode}`
      }
    },
    showDirty () {
      return this.$route.meta.showDirty && this.dirty
    }
  }
}
</script>
<style>
h1.title span.route-name {
  letter-spacing: .25em;
  text-transform: uppercase;
}
</style>
