<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && tanks.length < 1"/>
    <table v-if="!is_loading && tanks.length > 0" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Drops</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tank in tanks" v-bind:key="tank.uid">
          <td>{{ tank.name }}</td>
          <td>{{ tank.drop_count }}</td>
          <td>
            <a @click="routeToTank(tank.uid, 'tank')"
              class="button is-small is-primary">
              <span>Edit</span>
              <span class="icon"><i class="fa fa-pen"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToTank(tank.uid, 'drops')"
              class="button is-small">
              <span>Drops</span>
              <span class="icon"><i class="fa fa-tint"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToTank(tank.uid, 'stats')"
              class="button is-small">
              <span>Stats</span>
              <span class="icon"><i class="fa fa-th-list"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToTank(`clone-${tank.uid}`, 'tank')"
              class="button is-small">
              <span>Clone</span>
              <span class="icon"><i class="fa fa-clone"></i></span>
            </a>
          </td>
          <td>
            <a @click="deleteTank(tank)" :disabled="tank.is_locked"
              class="button is-small is-danger">
              <span>Delete</span>
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <div class="column buttons">
        <a @click="routeToTank('new', 'tank')" 
          class="button is-small is-primary">
          <span>Add Tank</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </a>
      </div>
      <page-controls v-if="!is_loading && tanks.length > 0" 
        v-bind="{ skip: skip, take: take, count: tank_count }" 
        @input="(skip)=>changePage(skip)" />
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

export default {
  name: 'Tanks',
  data () {
    return {
      skip: 0,
      take: 10,
      is_loading: false
    }
  },
  components: {
    Ghost,
    Spinner,
    PageControls
  },
  computed: mapState({
    tanks: state => state.tank.tanks,
    tank_count: state => state.tank.tank_count
  }),  
  methods: {
    deleteTank(tank) {
      if(tank.is_locked) {
        return
      }

      if(confirm('Are you sure you want to delete this tank?')) {
        this.$store.dispatch('deleteTank', { uid: tank.uid })
          .then(() => {
            this.loadTanks()
            this.$store.dispatch('addMessages', {
              messages: ['Tank deleted.']
            })
          })
      }
    },
    loadTanks() {
      this.$store.dispatch('loadTanks', { skip: this.skip, take: this.take })  
        .then(() => this.is_loading = false)
    },
    changePage(skip) {
      this.skip = skip
      this.loadTanks()
    },
    routeToTank(which, tab) {
      this.$store.dispatch('switchTab', { tab: tab })
        .then(() => {
          this.$router.push({name: 'tank', params: {which: which}})
        })
    }
  },
  beforeMount() {
    this.is_loading = true
    this.loadTanks()    
  }
}
</script>
