<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <form v-if="!is_loading">

      <div class="modal" :class="{ 'is-active': modal_show }">
        <div class="modal-background" @click="hideModal"></div>
        <div class="modal-content has-text-centered has-text-white">

          <spinner v-show="modal_is_loading" />

          <div class="face" v-if="modal_array" v-show="!modal_is_loading">
            <component v-bind:is="modalFace" v-bind:data="modal_array.data" v-bind:write="false" />
          </div>
          <div class="mt-3" v-if="modal_array" v-show="!modal_is_loading">
            <p>
              {{ modal_array.data_hash }}
            </p>
            <p>
              [{{ modal_array.shape.join(', ') }}]
            </p>
          </div>

        </div>

        <a class="modal-nav modal-nav-vert modal-nav-up" v-if="modal_up" @click="modal_up()">
          <i v-bind:class="['fa', modal_up_wrap ? 'fa-angle-double-down' : 'fa-angle-up']"></i>
        </a>

        <a class="modal-nav modal-nav-vert modal-nav-down" v-if="modal_down" @click="modal_down()">
          <i v-bind:class="['fa', modal_down_wrap ? 'fa-angle-double-up' : 'fa-angle-down']"></i>
        </a>

        <a class="modal-nav modal-nav-hori modal-nav-left" v-if="modal_left" @click="modal_left()">
          <i v-bind:class="['fa', modal_left_wrap ? 'fa-angle-double-right' : 'fa-angle-left']"></i>
        </a>

        <a class="modal-nav modal-nav-hori modal-nav-right" v-if="modal_right" @click="modal_right()">
          <i v-bind:class="['fa', modal_right_wrap ? 'fa-angle-double-left' : 'fa-angle-right']"></i>
        </a>

        <button class="modal-close is-large" aria-label="close" @click="hideModal"></button>
      </div>


      <div v-show="currentTab == 'tank'">

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="name">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.name.errors.length > 0 }" 
                  type="text" name="name" id="name" v-model="tank.name" @input="touch" :disabled="tank.is_locked"/>
              </div>
              <ul class="help is-danger" v-if="isDirty && validator.report.name.errors.length > 0">
                <li v-for="(error, error_index) in validator.report.name.errors" v-bind:key="error_index">
                  {{ error }}
                </li>            
              </ul>
            </div>
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label">Drops</label>
          </div>
          <div class="field-body">
            <span>{{ tank.drop_count }}</span> 
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label">Array Specs</label>
          </div>
          <div class="field-body">
            <span>{{ arraySpecCount }}</span>
            <a @click="addArraySpec" class="button is-small ml-6" :disabled="tank.is_locked">
              <span>Add Array Spec</span>
              <span class="icon"><i class="fas fa-plus"></i></span>
            </a>
          </div>
        </div>

        <div v-for="(arrayspec, arrayspec_idx) in tank.arrayspecs" v-bind:key="arrayspec_idx">
          <hr v-if="arrayspec_idx === 0" />

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" :for="`arrayspec_${arrayspec_idx}_name`">Array Spec Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" @input="touch" :disabled="tank.is_locked"
                    v-bind:class="{ 'is-danger': isDirty && arraySpecValidatorReady(arrayspec_idx) && validator.report.arrayspecs[arrayspec_idx].name.errors.length > 0 }" 
                    v-model="arrayspec.name" type="text" :name="`arrayspec_${arrayspec_idx}_name`" />
                </div>
                <ul class="help is-danger" v-if="isDirty && arraySpecValidatorReady(arrayspec_idx) && validator.report.arrayspecs[arrayspec_idx].name.errors.length > 0">
                  <li v-for="(error, error_index) in validator.report.arrayspecs[arrayspec_idx].name.errors" v-bind:key="error_index">
                    {{ error }}
                  </li>            
                </ul>          
              </div>
            </div>
          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" :for="`arrayspec_${arrayspec_idx}_dtype`">Data Type</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control select">
                  <select class="input" v-model="arrayspec.dtype" :name="`arrayspec_${arrayspec_idx}_dtype`" @input="touch"
                    v-bind:class="{ 'is-danger': isDirty && arraySpecValidatorReady(arrayspec_idx) && validator.report.arrayspecs[arrayspec_idx].dtype.errors.length > 0 }" :disabled="tank.is_locked">
                    <option v-for="dtype in dtypes"
                      v-bind:key="dtype.code" :value="dtype.code">
                      {{ dtype.name }}
                    </option>
                  </select>            
                </div>
                <ul class="help is-danger" v-if="isDirty && arraySpecValidatorReady(arrayspec_idx) && validator.report.arrayspecs[arrayspec_idx].dtype.errors.length > 0">
                  <li v-for="(error, error_index) in validator.report.arrayspecs[arrayspec_idx].dtype.errors" v-bind:key="error_index">
                    {{ error }}
                  </li>            
                </ul>            
              </div>
            </div>
          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label">
              <label class="label">Dimensions</label>
            </div>
            <div class="field-body">
              <span>{{ tank.arrayspecs[arrayspec_idx].dims.length }}</span>
              <a @click="addDim(arrayspec_idx)" class="button is-small ml-6" :disabled="tank.is_locked">
                <span>Add Dimension</span>
                <span class="icon"><i class="fas fa-plus"></i></span>
              </a>
              
            </div>
          </div>

          <div v-for="(dim, dim_idx) in tank.arrayspecs[arrayspec_idx].dims" v-bind:key="dim_idx"
            class="field is-fullwidth is-horizontal">
          

            <div class="field-label is-normal">
              <label class="label">Dimension {{ dim_idx + 1 }} Length</label>
            </div>
            <div class="field-body">

              <div class="control">
                <input class="input" type="number" @input="touch" :disabled="tank.is_locked"
                  :name="`arrayspec_${arrayspec_idx}_dim_${dim_idx}_length`" 
                  v-bind:class="{ 'is-danger': isDirty && dimValidatorReady(arrayspec_idx, dim_idx) && validator.report.arrayspecs[arrayspec_idx].dims[dim_idx].errors.length > 0 }" 
                  v-model="dim.length"/>

                <ul v-if="isDirty && dimValidatorReady(arrayspec_idx, dim_idx) && validator.report.arrayspecs[arrayspec_idx].dims[dim_idx].errors.length > 0" class="help is-danger">
                  <li v-for="(error, error_index) in validator.report.arrayspecs[arrayspec_idx].dims[dim_idx].errors" 
                    v-bind:key="error_index">
                    {{ error }}
                  </li>            
                </ul>    

              </div>
              <div class="control ml-3">
                <label class="radio py-2">
                  <input type="radio" :name="`arrayspec_${arrayspec_idx}_dim_${dim_idx}_is_max`"
                    v-bind:value="false" v-model="dim.is_max" @change="touch" :disabled="tank.is_locked"/>
                </label>
                Exact
                <label class="radio py-2">
                  <input type="radio" :name="`arrayspec_${arrayspec_idx}_dim_${dim_idx}_is_max`"
                    v-bind:value="true" v-model="dim.is_max" @change="touch" :disabled="tank.is_locked"/>
                </label>
                Maximum
              </div>
              <div class="control ml-4 mt-1">
                <a @click="clearDim(arrayspec_idx, dim_idx)" :disabled="tank.is_locked"
                  class="button is-small is-danger">
                  <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </a>
              </div>


            </div>
          

          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" :for="`arrayspec_${arrayspec_idx}_face_code`">Face</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control select">
                  <select v-bind:class="{ 'is-danger': isDirty && arraySpecValidatorReady(arrayspec_idx) && validator.report.arrayspecs[arrayspec_idx].face_code.errors.length > 0 }" @change="refreshFaceConfigTemplate(arrayspec_idx)"
                    class="input" v-model="arrayspec.face_code" :name="`arrayspec_${arrayspec_idx}_face_code`"
                    :disabled="tank.is_locked">
                    <option v-for="face in faces"
                      v-bind:key="face.code" :value="face.code">
                      {{ face.code }}
                    </option>
                  </select>
                </div>
                <ul class="help is-danger" v-if="isDirty && arraySpecValidatorReady(arrayspec_idx) && validator.report.arrayspecs[arrayspec_idx].face_code.errors.length > 0">
                  <li v-for="(error, error_index) in validator.report.arrayspecs[arrayspec_idx].face_code.errors" v-bind:key="error_index">
                    {{ error }}
                  </li>            
                </ul>           
              </div>
            </div>
          </div>

          <div v-if="faceConfigTemplateReady(arrayspec_idx) && arraySpecValidatorReady(arrayspec_idx)" class="field">

            <div v-for="field in Object.keys(face_config_templates[arrayspec_idx])" v-bind:key="field"
              class="field is-fullwidth is-horizontal">

              <div class="field-label is-normal">
                <label class="label" :for="`arrayspec_${arrayspec_idx}_face_config_${field}`">
                  {{ face_config_templates[arrayspec_idx][field].label }}
                </label>
              </div>

              <template v-if="validator.report.arrayspecs[arrayspec_idx].face_config[field]">
              
                <component v-bind:is="getConfigField(face_config_templates[arrayspec_idx][field].type)"
                  v-bind:name="`arrayspec_${arrayspec_idx}_face_config_${field}`" 
                  v-bind:template="face_config_templates[arrayspec_idx][field]"
                  v-bind:value="tank.arrayspecs[arrayspec_idx].face_config[field]" 
                  v-bind:disabled="tank.is_locked"
                  v-bind:errors="validator.report.arrayspecs[arrayspec_idx].face_config[field].errors" 
                  v-bind:entity="tank.arrayspecs[arrayspec_idx]" 
                  @input="setConfigField(arrayspec_idx, field, $event)" />

              </template>

              <div class="field-body" v-if="!validator.report.arrayspecs[arrayspec_idx].face_config[field]"></div>
              
            </div>
          </div>

          <!-- <spinner v-if="!faceConfigTemplateReady(arrayspec_idx) || !arraySpecValidatorReady(arrayspec_idx)" /> -->

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <a @click="clearArraySpec(arrayspec_idx)" :disabled="tank.is_locked"
                class="button is-small is-danger">
                <span>Clear Array Spec</span>
                <span class="icon"><i class="fas fa-trash-alt"></i></span>
              </a>
            </div>
          </div>

          <hr/>
        </div>

      </div>

      <div v-show="currentTab == 'drops'">

        <ghost v-if="!anyDrops" />

        <table v-if="anyDrops" class="table is-fullwidth">
          <thead>
            <tr>
              <th v-for="arrayspec in tank.arrayspecs" v-bind:key="arrayspec.name">
                {{ arrayspec.name }}
              </th>              
            </tr>
          </thead>
          <tbody>
            <tr v-for="(drop, drop_idx) in drops" v-bind:key="drop.uid">
              <td v-for="(arrayspec, arrayspec_idx) in tank.arrayspecs" v-bind:key="arrayspec.name"
                :class="{ 'is-selected': drop_idx == modal_drop_idx && arrayspec_idx == modal_arrayspec_idx }">
                <a @click="showModalDrop(drop_idx, arrayspec_idx)">
                  {{ getShortHash(getHashByArraySpec(drop, arrayspec)) }}
                </a>
              </td>
            </tr>            
          </tbody>
        </table>

      </div>


      <div v-show="currentTab == 'stats'">

        <ghost v-if="!anyDrops" />

        <div v-if="anyDrops">

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="stats_arrayspec">Array Spec</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control select">
                  <select class="input" v-model="stats_arrayspec_uid" name="stats_arrayspec" @change="changeStatsPage(0)">
                    <option v-for="arrayspec in tank.arrayspecs" v-bind:key="arrayspec.uid" :value="arrayspec.uid">
                      {{ arrayspec.name }}
                    </option>
                  </select>  
                </div>
              </div>
            </div>
          </div>

          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Array Hash</th>              
                <th>Drop Count</th>              
              </tr>
            </thead>
            <tbody>
              <tr v-for="(stat, stat_idx) in stats" v-bind:key="stat.data_hash">
                <td :class="{ 'is-selected': stat_idx == modal_stat_idx }">
                  <a @click="showModalStat(stat_idx)">{{ getShortHash(stat.data_hash) }}</a>
                </td>
                <td><span>{{ stat.drop_count }}</span></td>
              </tr>            
            </tbody>
          </table>          
          
        </div>

      </div>

      <div class="columns is-mobile mt-4">
        <div class="column buttons">
          <a @click="saveTank" class="button is-small is-primary" :disabled="validator.anyErrors() || !isDirty || tank.is_locked">
            <span>Save Tank</span>
            <span><i class="fas fa-save ml-3"></i></span>
          </a>

          <a @click="deleteDrops" class="button is-small is-danger" :disabled="!anyDrops">
            <span>Delete All Drops</span>
            <span><i class="fas fa-trash-alt ml-3"></i></span>
          </a>

        </div>
        <page-controls v-if="anyDrops"
          v-show="currentTab === 'drops'"
          v-bind="{ skip: drops_skip, take: drops_take, count: drop_count }" 
          @input="(skip)=>changeDropsPage(skip)" />

        <page-controls v-if="anyDrops"
          v-show="currentTab === 'stats'"
          v-bind="{ skip: stats_skip, take: stats_take, count: stat_count }" 
          @input="(skip)=>changeStatsPage(skip)" />          

      </div>

    </form>
  </section>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import { TankValidator } from '@/validators/tank'
import { getFace } from '@/components/faces'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import { getConfigField, getDefaultValue } from '@/components/config_fields'
import PageControls from '@/components/PageControls'


export default {
  name: 'Tank',
  components: {
    Ghost,
    PageControls,
    Spinner
  },
  data () {
    return {
      drops_skip: 0,
      drops_take: 10,
      validator: new TankValidator(this),
      modal_show: false,
      modal_is_loading: false,
      modal_up: null,
      modal_up_wrap: false,
      modal_down: null,
      modal_down_wrap: false,
      modal_left: null,
      modal_left_wrap: false,
      modal_right: null,
      modal_right_wrap: false,
      modal_drop_idx: null,
      modal_arrayspec_idx: null,
      modal_stat_idx: null,
      stats_arrayspec_uid: null,
      stats_skip: 0,
      stats_take: 10,
      is_loading: false

    }
  },
  computed: {
    ...mapState({
      tank: state => state.tank.tank,
      verify_tank: state => state.tank.verify_tank,
      dtypes: state => state.arrayspec.dtypes,
      faces: state => state.arrayspec.faces,
      face_config_templates: state => state.arrayspec.face_config_templates,
      tomes: state => state.tome.tomes,
      drops: state => state.tank.drops,
      drop_count: state => state.tank.drop_count,
      stats: state => state.arrayspec.stats,
      stat_count: state => state.arrayspec.stat_count,
      modal_array: state => state.arrayspec.array
    }),
    ...mapGetters(['isDirty', 'currentTab']),
    anyDrops: function() {
      return this.drop_count > 0
    },
    arraySpecCount: function () {
      if(!this.tank.arrayspecs) {
        return 0
      }
      return this.tank.arrayspecs.length
    },
    modalFace: function() {
      return getFace(this.modal_array.face_code)
    }
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },
    saveTank() {
      if(this.tank.is_locked) {
        return
      }

      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }
      this.$store.dispatch('saveTank', { tank: this.tank })
        .then(() => this.initializeStats())
        .then(() => {
          this.$store.dispatch('reset')
          const which = this.$route.params.which
          if (typeof(which) === 'string' && (which === 'new' || which.substring(0,6) === 'clone-')) {
            this.$store.dispatch('addPendingMessages', {
              messages: ['Tank saved.']
            })            
            this.$router.push({name: 'tank', params: { which: this.tank.uid }})
          } else {
            this.$store.dispatch('addMessages', {
              messages: ['Tank saved.']
            })            
          }
        })
    },
    addArraySpec() {
      if(this.tank.is_locked) {
        return
      }

      let idx = this.tank.arrayspecs.push({
        name: '',
        dtype: '',
        dims: [],
        norm: {},
        face_code: '',
        face_config: {}
      }) - 1
      this.face_config_templates[idx] = {}
      this.touch()
    },
    clearArraySpec(arrayspec_idx) {
      if(this.tank.is_locked) {
        return
      }

      this.tank.arrayspecs.splice(arrayspec_idx, 1)
      this.face_config_templates.splice(arrayspec_idx, 1)
      this.touch()
    },
    addDim(arrayspec_idx) {
      if(this.tank.is_locked) {
        return
      }

      this.tank.arrayspecs[arrayspec_idx].dims.push({
        length: 0,
        is_max: false
      })
      this.touch()
    },
    clearDim(arrayspec_idx, dim_idx) {
      if(this.tank.is_locked) {
        return
      }

      this.tank.arrayspecs[arrayspec_idx].dims.splice(dim_idx, 1)
      this.touch()
    },
    applyFaceConfigTemplate(arrayspec_idx) {
      let keys = Object.keys(this.face_config_templates[arrayspec_idx])
      let face_config = {}
      for(const idx in keys) {
        let key = keys[idx]
        if(Object.keys(this.tank.arrayspecs[arrayspec_idx].face_config).includes(key)) {
          face_config[key] = this.tank.arrayspecs[arrayspec_idx].face_config[key]
        } else {
          face_config[key] = getDefaultValue(this.face_config_templates[arrayspec_idx][key].type)
        }
      }
      this.tank.arrayspecs[arrayspec_idx].face_config = face_config
    },
    refreshFaceConfigTemplate(arrayspec_idx) {
      this.$store.dispatch('loadFaceConfigTemplate', {
        arrayspec: this.tank.arrayspecs[arrayspec_idx],
        arrayspec_idx: arrayspec_idx
      }).then(() => {
        this.applyFaceConfigTemplate(arrayspec_idx)
        this.touch()
      })
    },
    initializeFaceConfigTemplates() {

      return this.$store.dispatch('clearFaceConfigTemplates')
        .then(() => {
          Promise.all(this.tank.arrayspecs.map((arrayspec, arrayspec_idx) => {
            return this.$store.dispatch('loadFaceConfigTemplate', {
              arrayspec: arrayspec,
              arrayspec_idx: arrayspec_idx
            })
          })).then(() => {
            for(var arrayspec_idx in this.tank.arrayspecs) {
              this.applyFaceConfigTemplate(arrayspec_idx)
            }
            this.validator.refresh()
          })          
        })

    },
    loadDrops() {
      if(this.tank && this.tank.uid) {
        return this.$store.dispatch('loadTankDrops', { 
          uid: this.tank.uid,
          skip: this.drops_skip, 
          take: this.drops_take
        })                
      } else {
        return this.$store.dispatch('clearTankDrops')
      }
    },
    deleteDrops() {
      const drop_count = this.drop_count
      if(confirm(`Are you sure you want to delete ${drop_count} drops?`)) {
        this.$store.dispatch('deleteTankDrops', { uid: this.tank.uid })
          .then(() => this.$store.dispatch('loadTank', { uid: this.tank.uid }))
          .then(() => {
            this.$store.dispatch('addMessages', {
              messages: [`${drop_count} drops deleted.`]
            })
          })
      }
    },
    changeDropsPage(skip) {
      this.drops_skip = skip
      this.loadDrops()
    },    
    faceConfigTemplateReady(arrayspec_idx) {
      if(this.face_config_templates[arrayspec_idx]) {
        return true
      } else {
        return false
      }
    },
    validatorReady() {
      if(this.validator.report) {
        return true
      } else {
        return false
      }
    },
    arraySpecValidatorReady(arrayspec_idx) {
      if(this.validatorReady() && 
        this.validator.report.arrayspecs[arrayspec_idx]) {
        return true
      } else {
        return false
      }
    },
    dimValidatorReady(arrayspec_idx, dim_idx) {
      if(this.arraySpecValidatorReady(arrayspec_idx) && 
        this.validator.report.arrayspecs[arrayspec_idx].dims[dim_idx]) {
        return true
      } else {
        return false
      }      
    },
    getHashByArraySpec(drop, arrayspec) {
      if(drop.arrays[arrayspec.name] && drop.arrays[arrayspec.name].data_hash) {
        return drop.arrays[arrayspec.name].data_hash
      } else {
        return null
      }
    },
    getShortHash(hash) {
      if(!hash) {
        return ''
      } else {
        return hash.slice(0, 3) + '..' + hash.slice(-3)
      }
    },
    showModal(arrayspec_uid, hash) {
      this.modal_is_loading = true
      this.modal_show = true

      this.$store.dispatch('loadArray', { 
        uid: arrayspec_uid,
        hash: hash
      })
        .then(() => {
          this.modal_is_loading = false
        })

    },
    showModalDrop(drop_idx, arrayspec_idx) {
      this.modal_up_wrap = (drop_idx == 0)
      this.modal_down_wrap = (drop_idx == (this.drops.length - 1))

      if(this.modal_up_wrap && this.modal_down_wrap) {
        this.modal_up = null
        this.modal_down = null
      } else {
        this.modal_up = this.modal_up_wrap ? 
          function () { this.showModalDrop(this.drops.length - 1, arrayspec_idx) } : 
          function () { this.showModalDrop(drop_idx - 1, arrayspec_idx) }

        this.modal_down = drop_idx == (this.drops.length - 1) ? 
          function () { this.showModalDrop(0, arrayspec_idx) } : 
          function () { this.showModalDrop(drop_idx + 1, arrayspec_idx) }
      }

      this.modal_left_wrap = (arrayspec_idx == 0)
      this.modal_right_wrap = (arrayspec_idx == (this.tank.arrayspecs.length - 1))

      if(this.modal_left_wrap && this.modal_right_wrap) {
        this.modal_left = null
        this.modal_right = null
      } else {
        this.modal_left = this.modal_left_wrap ? 
          function () { this.showModalDrop(drop_idx, this.tank.arrayspecs.length - 1) } : 
          function () { this.showModalDrop(drop_idx, arrayspec_idx - 1) }

        this.modal_right = this.modal_right_wrap ? 
          function () { this.showModalDrop(drop_idx, 0) } : 
          function () { this.showModalDrop(drop_idx, arrayspec_idx + 1) }        
      }

      this.modal_drop_idx = drop_idx
      this.modal_arrayspec_idx = arrayspec_idx

      const tank_uid = this.tank.arrayspecs[arrayspec_idx].uid
      const data_hash = this.getHashByArraySpec(this.drops[drop_idx], this.tank.arrayspecs[arrayspec_idx])

      if(tank_uid && data_hash) {
        this.showModal(tank_uid, data_hash)
      }

    },
    showModalStat(stat_idx) {
      this.modal_up_wrap = (stat_idx == 0)
      this.modal_down_wrap = (stat_idx == (this.stats.length - 1))

      if(this.modal_up_wrap && this.modal_down_wrap) {
        this.modal_up = null
        this.modal_down = null
      } else {
        this.modal_up = this.modal_up_wrap ?
          function () { this.showModalStat(this.stats.length - 1) } : 
          function () { this.showModalStat(stat_idx - 1) }

        this.modal_down = this.modal_down_wrap ?
          function () { this.showModalStat(0) } : 
          function () { this.showModalStat(stat_idx + 1) }        
      }      

      this.modal_left = null
      this.modal_right = null

      this.modal_stat_idx = stat_idx

      this.showModal(
        this.stats_arrayspec_uid,
        this.stats[stat_idx].data_hash
      )      
    },
    hideModal() {
      this.modal_drop_idx = null
      this.modal_arrayspec_idx = null      
      this.modal_stat_idx = null
      this.modal_show = false
    },
    getDtype(code) {
      return this.dtypes.find(dtype => {
        return (dtype.code === code)
      })
    },
    dtypeIsInteger(code) {
      let result = this.dtypes.some(dtype => {
        return (dtype.code === code && 'min' in dtype && 'max' in dtype)
      })
      return result
    },
    getConfigField(field_code) {
      return getConfigField(field_code)
    },    
    setConfigField(arrayspec_idx, field_name, value) {
      if(this.tank.is_locked) {
        return
      }
      this.tank.arrayspecs[arrayspec_idx].face_config[field_name] = value
      this.touch()
    },
    loadStats() {
      return this.$store.dispatch('loadStats', { 
        uid: this.stats_arrayspec_uid,
        skip: this.stats_skip, 
        take: this.stats_take 
      })
    },
    initializeStats() {
      if(this.tank && this.tank.arrayspecs.length > 0) {
        this.stats_arrayspec_uid = this.tank.arrayspecs[0].uid
        return this.loadStats()
      } else {
        return new Promise((resolve) => resolve())
      }
    },
    changeStatsPage(skip) {
      this.stats_skip = skip
      this.loadStats()
    }
  },
  beforeMount () {

    this.is_loading = true
    const which = this.$route.params.which
    if (which === 'new') {
      this.$store.dispatch('newTank')
        .then(() => this.$store.dispatch('loadDtypes'))
        .then(() => this.$store.dispatch('loadFaces'))
        .then(() => this.$store.dispatch('loadTomes', {skip:0}))
        .then(() => this.loadDrops())
        .then(() => this.initializeStats())
        .then(() => this.initializeFaceConfigTemplates())
        .then(() => this.is_loading = false)

    } else if (typeof(which) === 'string' && which.substring(0,6) === 'clone-') {
      const uid = parseInt(which.substring(6))
      if (!isNaN(uid)) {
        this.$store.dispatch('loadTank', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => {
            delete this.tank.uid
            this.tank.name = ''
            this.tank.drop_count = 0
            this.tank.is_locked = false
            for(var arrayspec_idx in this.tank.arrayspecs) {
              delete this.tank.arrayspecs[arrayspec_idx].uid
            }
          })
          .then(() => this.$store.dispatch('loadDtypes'))
          .then(() => this.$store.dispatch('loadFaces'))
          .then(() => this.$store.dispatch('loadTomes', {skip:0}))
          .then(() => this.loadDrops())
          .then(() => this.initializeStats())
          .then(() => this.initializeFaceConfigTemplates())
          .then(() => this.is_loading = false)

      } else {
        this.$router.push({name:'not-found'})
      }
    } else {
      const uid = parseInt(which)
      if (!isNaN(uid)) {
        this.$store.dispatch('loadTank', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => this.$store.dispatch('loadDtypes'))
          .then(() => this.$store.dispatch('loadFaces'))
          .then(() => this.$store.dispatch('loadTomes', {skip:0}))
          .then(() => this.loadDrops())
          .then(() => this.initializeStats())
          .then(() => this.initializeFaceConfigTemplates())
          .then(() => {
            if(this.tank.is_locked) {
              if(this.tank.drop_count > 0) {
                this.$store.dispatch('addMessages', {
                  messages: ['Tank is locked for editing because it contains at least one drop.']
                })
              } else {
                this.$store.dispatch('addMessages', {
                  messages: ['Tank is locked for editing because it is connected to at least one active pump.']
                })
              }
              
            }
            this.is_loading = false
          })
      } else {
        this.$router.push({name:'not-found'})
      }
    }
  }
}
</script>
<style lang="css">
.modal .modal-close {
  left: 20px;
  right: unset;
}

.modal .modal-nav {
  position: absolute;
  border-radius: 99999px;
  text-align: center;
  font-size: 1.25em;
  color: #fff!important;
}

.modal .modal-nav-vert {
  width: 80px;
  height: 40px;
  left:50%;
  margin-left:-40px;
}

.modal .modal-nav-hori {
  width: 40px;
  height: 80px;
  top:50%;
  margin-top:-40px;}

.modal .modal-nav:hover {
  background-color: rgba(10,10,10,.3);
}

.modal .modal-nav-vert i {
  margin-top: 10px;
}

.modal .modal-nav-hori i {
  margin-top: 30px;
}

.modal .modal-nav-up {
  top: 20px;
}

.modal .modal-nav-down {
  bottom: 20px;
}

.modal .modal-nav-left {
  left: 20px;
}

.modal .modal-nav-right {
  right: 20px;
}

.modal .modal-content {
  overflow: hidden;
  padding: 3em;
  display:flex; 
  flex-direction:column;
}

.face {
  flex:1;
  min-height:0px;
}

.face > * {
  max-height: 100%;
}

</style>
