<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && pumps.length < 1"/>
    <table v-if="!is_loading && pumps.length > 0" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cycles</th>
          <th>Status</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="pump in pumps" v-bind:key="pump.uid">
          <td>{{ pump.name }}</td>
          <td>{{ pump.cycle_count }}</td>
          <td>
            <a @click="activatePump(pump)" class="button is-small" v-if="pump.is_disabled">
              <span>Inactive</span>
              <span class="icon"><i class="fas fa-times"></i></span>
            </a>
            <a @click="deactivatePump(pump)" class="button is-small" v-if="!pump.is_disabled">
              <span>Active</span>
              <span class="icon"><i class="fas fa-check"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToPump(pump.uid, 'pump')"
              class="button is-small is-primary">
              <span>Edit</span>
              <span class="icon"><i class="fa fa-pen"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToPump(pump.uid, 'cycles')"
              class="button is-small">
              <span>Cycles</span>
              <span class="icon"><i class="fa fa-sync"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToPump(`clone-${pump.uid}`, 'pump')"
              class="button is-small">
              <span>Clone</span>
              <span class="icon"><i class="fa fa-clone"></i></span>
            </a>
          </td>          
          <td>
            <a @click="clearPump(pump)" :disabled="!pump.is_disabled || pump.state_cycle_count === 0"
              class="button is-small">
              <span>Clear State</span>
              <span class="icon"><i class="fa fa-broom"></i></span>
            </a>
          </td>          
          <td>
            <a @click="deletePump(pump)" :disabled="!pump.is_disabled"
              class="button is-small is-danger">
              <span>Delete</span>
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <div class="column buttons">
        <a @click="routeToPump('new', 'pump')" 
          class="button is-small is-primary">
          <span>Add Pump</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </a>
      </div>
      <page-controls v-if="!is_loading && pumps.length > 0" 
        v-bind="{ skip: skip, take: take, count: pump_count }" 
        @input="(skip)=>changePage(skip)" />
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

export default {
  name: 'Pumps',
  data () {
    return {
      skip: 0,
      take: 10,
      is_loading: false
    }
  },
  components: {
    Ghost,
    Spinner,
    PageControls
  },
  computed: mapState({
    pumps: state => state.pump.pumps,
    pump_count: state => state.pump.pump_count
  }),  
  methods: {
    deletePump(pump) {
      if(!pump.is_disabled) {
        return
      }

      if(confirm('Are you sure you want to delete this pump?')) {
        this.$store.dispatch('deletePump', { uid: pump.uid })
          .then(() => {
            this.loadPumps()
            this.$store.dispatch('addMessages', {
              messages: ['Pump deleted.']
            })
          })
      }
    },
    activatePump(pump) {
      pump.is_disabled = false
      this.$store.dispatch('activatePump', { uid: pump.uid })
        .then(() => this.$store.dispatch('addMessages', {
          messages: ['Pump activated.']
        }))
        .catch(() => {
          pump.is_disabled = true
          this.$store.dispatch('addMessages', {
            messages: ['Pump couldn\'t be activated due to validation errors.']
          })
        })

    },
    deactivatePump(pump) {
      pump.is_disabled = true
      this.$store.dispatch('deactivatePump', { uid: pump.uid })
        .then(() => this.$store.dispatch('addMessages', {
          messages: ['Pump deactivated.']
        }))
    },    
    loadPumps() {
      this.$store.dispatch('loadPumps', { skip: this.skip, take: this.take })  
        .then(() => this.is_loading = false)
    },
    changePage(skip) {
      this.skip = skip
      this.loadPumps()
    },
    routeToPump(which, tab) {
      this.$store.dispatch('switchTab', { tab: tab })
        .then(() => {
          this.$router.push({name: 'pump', params: {which: which}})
        })
    },
    clearPump(pump) {
      if(!pump.is_disabled || pump.state_cycle_count === 0) {
        return
      }

      if(confirm('Are you sure you want to clear the state of this pump?')) {
        pump.state_cycle_count = 0
        this.$store.dispatch('clearPump', { uid: pump.uid })
          .then(() => {
            this.$store.dispatch('addMessages', {
              messages: ['Pump state cleared.']
            })
          })
      }
    }
  },
  beforeMount() {
    this.is_loading = true
    this.loadPumps()    
  }
}
</script>
