<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <form v-if="!is_loading">

      <div v-show="currentTab === 'pump'">
        
        <div class="modal" :class="{ 'is-active': constant_show }">

          <div class="modal-background" @click="hideConstant"></div>

          <div class="modal-content has-text-centered has-text-white">

            <spinner v-show="constant_is_loading" />

            <div class="face" v-show="!constant_is_loading">
              <component v-if="constant_field && !constant_is_loading" v-bind:is="constantFace" v-bind:data="pump.constant_arrays[constant_field].data" v-bind:write="!pump.is_locked" />
            </div>
            <div class="mt-3" v-show="!constant_is_loading && !pump.is_locked">
              <a class="button is-small is-primary" @click="applyConstant">
                <span>Apply</span>
                <span class="icon"><i class="fas fa-check"></i></span>
              </a>
            </div>

          </div>          


        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="name">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.name.errors.length > 0 }" 
                  type="text" name="name" id="name" v-model="pump.name" @input="touch" :disabled="pump.is_locked"/>
              </div>
              <ul class="help is-danger" v-if="isDirty && validator.report.name.errors.length > 0">
                <li v-for="(error, error_idx) in validator.report.name.errors" v-bind:key="error_idx">
                  {{ error }}
                </li>            
              </ul>
            </div>
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="display_name">Display Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" type="text" name="display_name" id="display_name" 
                  v-model="pump.display_name" @input="touch" :disabled="pump.is_locked"/>
              </div>
            </div>
          </div>
        </div>        

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="fa_code">Icon</label>
          </div>
          <div class="field-body">
            <div class="field">
              <span class="icon is-size-5 my-2 mr-4" v-if="pump.fa_code !== ''">
                <i :class="`fas fa-${pump.fa_code}`"></i>
              </span>
              <div class="control select">
                <select class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.fa_code.errors.length > 0 }" 
                  v-model="pump.fa_code" name="fa_code" @input="touch" :disabled="pump.is_locked">
                  <option v-for="icon in icons"
                    v-bind:key="icon" :value="icon">
                    <span>{{ icon }}</span>
                  </option>
                </select>
              </div>
              <ul class="help is-danger" v-if="isDirty && validator.report.fa_code.errors.length > 0">
                <li v-for="(error, error_idx) in validator.report.fa_code.errors" v-bind:key="error_idx">
                  {{ error }}
                </li>            
              </ul>
            </div>
          </div>
        </div>        

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label" for="is_disabled">Status</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="is_disabled" id="is_disabled" v-model="pump.is_disabled" 
                    v-bind:value="false" @input="touch" :disabled="pump.is_locked"/>
                  Active
                </label>
                <label class="radio">
                  <input type="radio" name="is_disabled" id="is_disabled" v-model="pump.is_disabled" 
                    v-bind:value="true" @input="touch" :disabled="pump.is_locked"/>
                  Inactive
                </label>
              </div>
            </div>
          </div>
        </div>     

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label">Roles</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <role-refs v-bind:role_uids="pump.role_uids" v-bind:disabled="pump.is_locked" @input="setRoles"/>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label is-normal">
            <label for="engine_code" class="label">Engine</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control select">
                <select v-bind:class="{ 'is-danger': isDirty && validator.report.engine_code.errors.length > 0 }"
                  @change="refreshEngine" class="input" v-model="pump.engine_code" name="engine_code"
                  :disabled="pump.is_locked">
                  <option v-for="engine in engines" v-bind:key="engine.code" :value="engine.code">
                    {{ engine.code }}
                  </option>                  
                </select>
              </div>
              <ul class="help is-danger" v-if="isDirty && validator.report.engine_code.errors.length > 0">
                <li v-for="(error, error_idx) in validator.report.engine_code.errors" v-bind:key="error_idx">
                  {{ error }}
                </li>            
              </ul>              
            </div>
          </div>
        </div>

        <hr/>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label">Input Pipes</label>
          </div>
          <div class="field-body">
            <span>{{ inputPipes.length }}</span>
          </div>
        </div>

        <div v-for="(pipe, pipe_idx) in inputPipes" v-bind:key="pipe.name">

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label">
              <label class="label">Pipe Name</label>
            </div>
            <div class="field-body">
              <span>{{ pipe.name }}</span>
            </div>
          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" :for="`pipes_in_${pipe.name}_tank_uid`">Tank</label>
            </div>
            <div class="field-body">

              <div class="field">

                <div class="control select">
                  <select class="input" v-model="pipe.tank_uid" :name="`pipes_in_${pipe.name}_tank_uid`"
                    v-bind:class="{ 'is-danger': isDirty && pipeValidatorReady(true, pipe_idx) && validator.report.pipes.in[pipe_idx].tank_uid.errors.length > 0 }"
                    @change="refreshEngineConfigTemplate" :disabled="pump.is_locked">
                    <option v-for="tank in tanks" v-bind:key="tank.uid" :value="tank.uid">
                      {{ tank.name }}
                    </option>
                  </select>
                </div>
                <ul class="help is-danger" v-if="isDirty && pipeValidatorReady(true, pipe_idx) && validator.report.pipes.in[pipe_idx].tank_uid.errors.length > 0">
                  <li v-for="(error, error_idx) in validator.report.pipes.in[pipe_idx].tank_uid.errors" v-bind:key="error_idx">
                    {{ error }}
                  </li>            
                </ul> 

              </div>

            </div>
          </div>


          <div class="field is-fullwidth is-horizontal">
            <div class="field-label">
              <label class="label" :for="`pipes_in_${pipe.name}_delete_drops`">Delete Drops</label>
            </div>
            <div class="field-body">

              <div class="field">

                <div class="control">
                  <label class="radio">
                    <input type="radio" :name="`pipes_in_${pipe.name}_delete_drops`" v-model="pipe.delete_drops" 
                      v-bind:value="true" @input="refreshEngineConfigTemplate" :disabled="pump.is_locked"/>
                    Yes
                  </label>
                  <label class="radio">
                    <input type="radio" :name="`pipes_in_${pipe.name}_delete_drops`" v-model="pipe.delete_drops" 
                      v-bind:value="false" @input="refreshEngineConfigTemplate" :disabled="pump.is_locked"/>
                    No
                  </label>                
                </div>
                

              </div>

            </div>
          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" :for="`pipes_in_${pipe.name}_drop_limit`">Drop Limit</label>
            </div>
            <div class="field-body">

              <div class="field">

                <div class="control">
                  <input class="input" type="number" @input="refreshEngineConfigTemplate" v-model="pipe.drop_limit"
                    v-bind:class="{ 'is-danger': isDirty && pipeValidatorReady(true, pipe_idx) && validator.report.pipes.in[pipe_idx].drop_limit.errors.length > 0 }"
                    :name="`pipes_in_${pipe.name}_drop_limit`" :disabled="pump.is_locked" />
                </div>
                <ul class="help is-danger" v-if="isDirty && pipeValidatorReady(true, pipe_idx) && validator.report.pipes.in[pipe_idx].drop_limit.errors.length > 0">
                  <li v-for="(error, error_idx) in validator.report.pipes.in[pipe_idx].drop_limit.errors" v-bind:key="error_idx">
                    {{ error }}
                  </li>            
                </ul>               
                
              </div>

            </div>
          </div>


          <div class="field is-fullwidth is-horizontal">
            <div class="field-label">
              <label class="label">Filters</label>
            </div>
            <div class="field-body">
              <span>{{ pipe.filters.length }}</span>
              <a @click="addFilter(pipe.name)" class="button is-small ml-6" :disabled="pump.is_locked">
                <span>Add Filter</span>
                <span class="icon"><i class="fas fa-plus"></i></span>
              </a>
              
            </div>
          </div>

          <div v-for="(filter, filter_idx) in pipe.filters" v-bind:key="filter_idx">
            
            <hr/>

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label is-normal">
                <label class="label" :for="`pipes_in_${pipe.name}_filter_${filter_idx}_name`">Filter Name</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" :name="`pipes_in_${pipe.name}_filter_${filter_idx}_name`" 
                    :id="`pipes_in_${pipe.name}_filter_${filter_idx}_name`" v-model="filter.name" 
                    @input="touch" :disabled="pump.is_locked" v-bind:class="{ 'is-danger': isDirty && filterValidatorReady(true, pipe_idx, filter_idx) && validator.report.pipes.in[pipe_idx].filters[filter_idx].name.errors.length > 0 }"/>
                  </div>
                  <ul class="help is-danger" v-if="isDirty && filterValidatorReady(true, pipe_idx, filter_idx) && validator.report.pipes.in[pipe_idx].filters[filter_idx].name.errors.length > 0">
                    <li v-for="(error, error_idx) in validator.report.pipes.in[pipe_idx].filters[filter_idx].name.errors" v-bind:key="error_idx">
                      {{ error }}
                    </li>            
                  </ul>                  
                </div>
              </div>
            </div>

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label">
                <label class="label" :for="`pipes_in_${pipe.name}_filter_${filter_idx}_is_disabled`">Status</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" :name="`pipes_in_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        :id="`pipes_in_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        v-model="filter.is_disabled" v-bind:value="false" @input="touch" :disabled="pump.is_locked"/>
                      Active
                    </label>
                    <label class="radio">
                      <input type="radio" :name="`pipes_in_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        :id="`pipes_in_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        v-model="filter.is_disabled" v-bind:value="true" @input="touch" :disabled="pump.is_locked"/>
                      Inactive
                    </label>
                  </div>
                </div>
              </div>
            </div>     

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label is-normal">
                <label class="label" :for="`pipes_in_${pipe.name}_filter_${filter_idx}_membrane`">Membrane</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control select">
                    <select class="input" v-model="filter.membrane_code" :name="`pipes_in_${pipe.name}_filter_${filter_idx}_face_membrane`" @change="refreshMembraneConfigTemplate(pipe.name, filter_idx)" v-bind:class="{ 'is-danger': isDirty && filterValidatorReady(true, pipe_idx, filter_idx) && validator.report.pipes.in[pipe_idx].filters[filter_idx].membrane_code.errors.length > 0 }"
                      :disabled="pump.is_locked">
                      <option v-for="membrane in membranes"
                        v-bind:key="membrane.code" :value="membrane.code">
                        {{ membrane.code }}
                      </option>
                    </select>
                  </div>
                  <ul class="help is-danger" v-if="isDirty && filterValidatorReady(true, pipe_idx, filter_idx) && validator.report.pipes.in[pipe_idx].filters[filter_idx].membrane_code.errors.length > 0">
                    <li v-for="(error, error_idx) in validator.report.pipes.in[pipe_idx].filters[filter_idx].membrane_code.errors" v-bind:key="error_idx">
                      {{ error }}
                    </li>            
                  </ul>                   
                </div>
              </div>
            </div>

            <div v-if="membraneConfigTemplateReady(pipe.name, filter_idx) && filterValidatorReady(true, pipe_idx, filter_idx)" class="field">

              <div v-for="field in Object.keys(membrane_config_templates[pipe.name][filter_idx])" v-bind:key="field" 
                class="field is-fullwidth is-horizontal">

                <div class="field-label" :class="{ 'is-normal': membrane_config_templates[pipe.name][filter_idx][field].type != 'boolean_radio' }">
                  <label class="label" :for="`pipes_in_${pipe.name}_filter_${filter_idx}_membrane_config_${field}`">
                    {{ membrane_config_templates[pipe.name][filter_idx][field].label }}
                  </label>
                </div>

                <template v-if="filterValidatorReady(true, pipe_idx, filter_idx)">
                  
                  <component v-bind:is="getConfigField(membrane_config_templates[pipe.name][filter_idx][field].type)"
                    v-bind:name="`pipes_in_${pipe.name}_filter_${filter_idx}_membrane_config_${field}`" 
                    v-bind:template="membrane_config_templates[pipe.name][filter_idx][field]"
                    v-bind:value="filter.membrane_config[field]" v-bind:disabled="pump.is_locked"
                    v-bind:errors="validator.report.pipes.in[pipe_idx].filters[filter_idx].membrane_config[field].errors" 
                    v-bind:entity="filter" @input="setMembraneConfigField(pipe.name, filter_idx, field, $event)"
                    @open="showConstant(field)" />

                </template>
                
              </div>

            </div>

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label"></div>
              <div class="field-body">
                <a @click="clearFilter(pipe.name, filter_idx)" :disabled="pump.is_locked"
                  class="button is-small is-danger">
                  <span>Clear Filter</span>
                  <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </a>
              </div>
            </div>            

          </div>

          
        </div>

        <hr/>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label">Output Pipes</label>
          </div>
          <div class="field-body">
            <span>{{ outputPipes.length }}</span>
          </div>
        </div>

        <div v-for="(pipe, pipe_idx) in outputPipes" v-bind:key="pipe.name">

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label">
              <label class="label">Pipe Name</label>
            </div>
            <div class="field-body">
              <span>{{ pipe.name }}</span>
            </div>
          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label" :for="`pipes_out_${pipe.name}_tank_uid`">Tank</label>
            </div>
            <div class="field-body">

              <div class="field">

                <div class="control select">
                  <select class="input" v-model="pipe.tank_uid" :name="`pipes_out_${pipe.name}_tank_uid`"
                    v-bind:class="{ 'is-danger': isDirty && pipeValidatorReady(false, pipe_idx) && validator.report.pipes.out[pipe_idx].tank_uid.errors.length > 0 }"
                    @change="refreshEngineConfigTemplate" :disabled="pump.is_locked">
                    <option v-for="tank in tanks" v-bind:key="tank.uid" :value="tank.uid">
                      {{ tank.name }}
                    </option>
                  </select>
                </div>
                <ul class="help is-danger" v-if="isDirty && pipeValidatorReady(false, pipe_idx) && validator.report.pipes.out[pipe_idx].tank_uid.errors.length > 0">
                  <li v-for="(error, error_idx) in validator.report.pipes.out[pipe_idx].tank_uid.errors" v-bind:key="error_idx">
                    {{ error }}
                  </li>            
                </ul> 
                
              </div>

            </div>
          </div>

          <div class="field is-fullwidth is-horizontal">
            <div class="field-label">
              <label class="label">Filters</label>
            </div>
            <div class="field-body">
              <span>{{ pipe.filters.length }}</span>
              <a @click="addFilter(pipe.name)" class="button is-small ml-6" :disabled="pump.is_locked">
                <span>Add Filter</span>
                <span class="icon"><i class="fas fa-plus"></i></span>
              </a>
              
            </div>
          </div>       

          <div v-for="(filter, filter_idx) in pipe.filters" v-bind:key="filter_idx">
            
            <hr/>

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label is-normal">
                <label class="label" :for="`pipes_out_${pipe.name}_filter_${filter_idx}_name`">Filter Name</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input" type="text" :name="`pipes_out_${pipe.name}_filter_${filter_idx}_name`" 
                    :id="`pipes_out_${pipe.name}_filter_${filter_idx}_name`" v-model="filter.name" 
                    @input="touch" :disabled="pump.is_locked" v-bind:class="{ 'is-danger': isDirty && filterValidatorReady(false, pipe_idx, filter_idx) && validator.report.pipes.out[pipe_idx].filters[filter_idx].name.errors.length > 0 }"/>
                  </div>
                  <ul class="help is-danger" v-if="isDirty && filterValidatorReady(false, pipe_idx, filter_idx) && validator.report.pipes.out[pipe_idx].filters[filter_idx].name.errors.length > 0">
                    <li v-for="(error, error_idx) in validator.report.pipes.out[pipe_idx].filters[filter_idx].name.errors" v-bind:key="error_idx">
                      {{ error }}
                    </li>            
                  </ul>                   
                </div>
              </div>
            </div>

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label">
                <label class="label" :for="`pipes_out_${pipe.name}_filter_${filter_idx}_is_disabled`">Status</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" :name="`pipes_out_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        :id="`pipes_out_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        v-model="filter.is_disabled" v-bind:value="false" :disabled="pump.is_locked"/>
                      Active
                    </label>
                    <label class="radio">
                      <input type="radio" :name="`pipes_out_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        :id="`pipes_out_${pipe.name}_filter_${filter_idx}_is_disabled`" 
                        v-model="filter.is_disabled" v-bind:value="true" @input="touch" :disabled="pump.is_locked"/>
                      Inactive
                    </label>
                  </div>
                </div>
              </div>
            </div>                 

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label is-normal">
                <label class="label" :for="`pipes_out_${pipe.name}_filter_${filter_idx}_face_membrane`">Membrane</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control select">
                    <select class="input" v-model="filter.membrane_code" :name="`pipes_out_${pipe.name}_filter_${filter_idx}_face_membrane`" @change="refreshMembraneConfigTemplate(pipe.name, filter_idx)"
                      :disabled="pump.is_locked">
                      <option v-for="membrane in membranes"
                        v-bind:key="membrane.code" :value="membrane.code">
                        {{ membrane.code }}
                      </option>
                    </select>                    
                  </div>
                  <ul class="help is-danger" v-if="isDirty && filterValidatorReady(false, pipe_idx, filter_idx) && validator.report.pipes.out[pipe_idx].filters[filter_idx].membrane_code.errors.length > 0">
                    <li v-for="(error, error_idx) in validator.report.pipes.out[pipe_idx].filters[filter_idx].membrane_code.errors" v-bind:key="error_idx">
                      {{ error }}
                    </li>            
                  </ul>                    
                </div>
              </div>
            </div>

            <div v-if="membraneConfigTemplateReady(pipe.name, filter_idx) && filterValidatorReady(false, pipe_idx, filter_idx)" class="field">

              <div v-for="field in Object.keys(membrane_config_templates[pipe.name][filter_idx])" v-bind:key="field" 
                class="field is-fullwidth is-horizontal">

                <div class="field-label" :class="{ 'is-normal': membrane_config_templates[pipe.name][filter_idx][field].type != 'boolean_radio' }">
                  <label class="label" :for="`pipes_out_${pipe.name}_filter_${filter_idx}_membrane_config_${field}`">
                    {{ membrane_config_templates[pipe.name][filter_idx][field].label }}
                  </label>
                </div>

                <template v-if="filterValidatorReady(false, pipe_idx, filter_idx)">
                  
                  <component v-bind:is="getConfigField(membrane_config_templates[pipe.name][filter_idx][field].type)"
                    v-bind:name="`pipes_out_${pipe.name}_filter_${filter_idx}_membrane_config_${field}`" 
                    v-bind:template="membrane_config_templates[pipe.name][filter_idx][field]"
                    v-bind:value="filter.membrane_config[field]" v-bind:disabled="pump.is_locked"
                    v-bind:errors="validator.report.pipes.out[pipe_idx].filters[filter_idx].membrane_config[field].errors" 
                    v-bind:entity="filter" @input="setMembraneConfigField(pipe.name, filter_idx, field, $event)"
                    @open="showConstant(field)" />

                </template>

              </div>     

            </div>

          

            <div class="field is-fullwidth is-horizontal">
              <div class="field-label"></div>
              <div class="field-body">
                <a @click="clearFilter(pipe.name, filter_idx)" :disabled="pump.is_locked"
                  class="button is-small is-danger">
                  <span>Clear Filter</span>
                  <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </a>
              </div>
            </div>                

          </div>             

          <hr/>
        </div>      


        <div v-if="validatorReady()">

          <div v-for="field in Object.keys(engine_config_template)" v-bind:key="field" 
            class="field is-fullwidth is-horizontal">

            <div class="field-label" :class="{ 'is-normal': engine_config_template[field].type != 'boolean_radio' }">
              <label class="label" :for="`engine_config_${field}`">
                {{ engine_config_template[field].label }}
              </label>
            </div>

            <template v-if="validator.report.engine_config[field]">
              
              <component v-bind:is="getConfigField(engine_config_template[field].type)"
                v-bind:name="`engine_config_${field}`" v-bind:template="engine_config_template[field]"
                v-bind:value="pump.engine_config[field]" v-bind:disabled="pump.is_locked"
                v-bind:errors="validator.report.engine_config[field].errors" 
                v-bind:entity="pump" @input="setEngineConfigField(field, $event)"
                @open="showConstant(field)" />

            </template>

            <div class="field-body" v-if="!validator.report.engine_config[field]"></div>
            
          </div>

        </div>

        <spinner v-if="!validatorReady()" />

      </div>

      <div v-show="currentTab === 'cycles'">
        
        <ghost v-if="!anyCycles" />

        <table v-if="anyCycles" class="table is-fullwidth">
          <thead>
            <tr>
              <th>User</th>
              <th>Status</th>    
              <th>Records (total size)</th>          
              <th>Expires At</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cycle in cycles" v-bind:key="cycle.uid">
              <td>
                {{ cycle.user_name }}
              </td>
              <td>
                <span v-if="cycle.error">Failed</span>
                <span v-if="!cycle.error && cycle.progress === 100">Complete</span>
                <span v-if="!cycle.error && cycle.progress < 100">{{ cycle.progress }}&#37;</span>
              </td>
              <td>{{ cycle.records.length }} ({{ formatByteCount(totalRecordBytes(cycle)) }})</td>
              <td>
                <span v-if="cycle.expire_after">
                  {{ new Date(cycle.expire_after).toLocaleString() }}
                </span>
                <span  v-if="!cycle.expire_after">Never</span>
              </td>
              <td>
                <router-link class="button is-small is-primary" :to="{ name: 'cycle', params: { which:cycle.uid } }">
                  <span>View</span>
                  <span class="icon"><i class="fas fa-eye"></i></span>
                </router-link>                
              </td>
              <td>
                <a class="button is-small" v-if="(cycle.error || cycle.progress === 100) && cycle.expire_after"
                  @click="freezeCycle(cycle.uid)">
                  <span>Freeze</span>
                  <span class="icon"><i class="fas fa-snowflake"></i></span>
                </a>
              </td>              
              <td>
                <a class="button is-small is-danger" v-if="!cycle.error && cycle.progress < 100"
                  @click="cancelCycle(cycle.uid)">
                  <span>Cancel</span>
                  <span class="icon"><i class="fas fa-times"></i></span>
                </a>
                <a class="button is-small is-danger" v-if="cycle.error || cycle.progress === 100"
                  @click="expireCycle(cycle.uid)">
                  <span>Expire</span>
                  <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </a>                
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="columns is-mobile mt-4">
        <div class="column buttons">
          <a @click="savePump" class="button is-small is-primary" :disabled="validator.anyErrors() || !isDirty || pump.is_locked">
            <span>Save Pump</span>
            <span><i class="fas fa-save ml-3"></i></span>
          </a>
        </div>
        <page-controls v-if="anyCycles"
          v-show="currentTab === 'cycles'"
          v-bind="{ skip: skip, take: take, count: cycle_count }" 
          @input="(skip)=>changePage(skip)" />

      </div>


    </form>
  </section>
</template>
<script>
import Vue from 'vue'
import { mapState, mapGetters } from 'vuex'

import { PumpValidator } from '@/validators/pump'
import { getFace } from '@/components/faces'

import Ghost from '@/components/Ghost'
import RoleRefs from '@/components/RoleRefs'
import PageControls from '@/components/PageControls'
import Spinner from '@/components/Spinner'
import { getConfigField, getDefaultValue } from '@/components/config_fields'
import { formatByteCount } from '@/utils'

export default {
  name: 'Pump',
  components: {
    Ghost,
    RoleRefs,
    PageControls,
    Spinner
  },
  data () {
    return {
      skip: 0,
      take: 10,
      validator: new PumpValidator(this),
      constant_show: false,
      constant_is_loading: false,
      constant_field: null,
      is_loading: false
    }
  },
  computed: {
    ...mapState({
      pump: state => state.pump.pump,
      verify_pump: state => state.pump.verify_pump,
      icons: state => state.pump.icons,
      engines: state => state.pump.engines,
      engine_config_template: state => state.pump.engine_config_template,
      tanks: state => state.tank.tanks,
      cycles: state => state.cycle.cycles,
      cycle_count: state => state.cycle.cycle_count,
      users: state => state.user.users,
      membranes: state => state.filter.membranes,
      membrane_config_templates: state => state.filter.membrane_config_templates
    }),
    ...mapGetters(['currentTab', 'isDirty', 'userUid']),
    anyCycles: function() {
      return this.pump.cycle_count > 0
    },
    inputPipes: function() {
      if (this.pump.pipes) {
        return this.pump.pipes.filter(x => x.is_input)
      } else {
        return []
      }
    },
    outputPipes: function() {
      if (this.pump.pipes) {
        return this.pump.pipes.filter(x => !x.is_input)
      } else {
        return []
      }
    },
    inputArraySpecs: function() { //can remove after componentization of config fields
      let arrayspecs = []

      this.inputPipes.forEach(pipe => {
        const tank = this.tanks.find(x => {
          return x.uid === pipe.tank_uid
        })

        if(tank) {
          tank.arrayspecs.forEach(arrayspec => {
            arrayspecs.push({
              'value': `arrayspec_${arrayspec.uid}`,
              'label': `${tank.name} / ${arrayspec.name}`
            })
          })
        }
      })

      return arrayspecs
    },
    constantArray: function () {
      if(this.constant_field && this.constant_field in this.pump.constant_arrays) {
        return this.pump.constant_arrays[this.constant_field]
      }

      return {}
    },
    constantFace: function() {
      if(this.constant_field && this.constant_field in this.pump.constant_arrays) {
        return getFace(this.pump.constant_arrays[this.constant_field].face_code)
      } 
      
      return getFace('base')      
    }
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },
    savePump() {
      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }
      this.$store.dispatch('savePump', { pump: this.pump })
        .then(() => {
          this.$store.dispatch('reset')
          const which = this.$route.params.which
          if (typeof(which) === 'string' && (which === 'new' || which.substring(0,6) === 'clone-')) {
            this.$store.dispatch('addPendingMessages', {
              messages: ['Pump saved.']
            })            
            this.$router.push({name: 'pump', params: { which: this.pump.uid }})
          } else {
            this.$store.dispatch('addMessages', {
              messages: ['Pump saved.']
            })            
          }          
        })
    },
    refreshEngine() {
      this.$store.dispatch('loadEngineConfigTemplate', { pump: this.pump })
        .then(() => {
          this.applyPipes()
          this.applyEngineConfigTemplate()
          this.touch()
        })   
    },
    loadCycles() {
      if(this.pump && this.pump.uid) {
        return this.$store.dispatch('loadCycles', { 
          skip: this.skip, 
          take: this.take,
          pump_uid: this.pump.uid,
          user_uid: null
        })                
      } else {
        return this.$store.dispatch('clearCycles')
      }
    },
    changePage(skip) {
      this.skip = skip
      this.loadCycles()
    },
    applyPipes() {

      return new Promise((resolve) => {
        const engine = this.engines.find(x => x.code === this.pump.engine_code)
        
        if(engine) {

          this.pump.pipes = this.pump.pipes.filter(x => {
            return (x.is_input && engine.pipes.in.includes(x.name)) ||
              (!x.is_input && engine.pipes.out.includes(x.name))
          })

          for (const idx in engine.pipes.in) {
            const name = engine.pipes.in[idx]
            if (!this.pump.pipes.some(x => x.is_input && x.name === name)) {
              this.pump.pipes.push({
                name: name,
                is_input: true,
                delete_drops: false,
                drop_limit: 0,
                filters: []
              })
            }
          }

          for (const idx in engine.pipes.out) {
            const name = engine.pipes.out[idx]
            if (!this.pump.pipes.some(x => !x.is_input && x.name === name)) {
              this.pump.pipes.push({
                name: name,
                is_input: false,
                delete_drops: null,
                drop_limit: null,
                filters: []
              })
            }
          }
        }

        resolve()        
      })


    },
    applyEngineConfigTemplate() {
      let keys = Object.keys(this.engine_config_template)
      let engine_config = {}
      
      for (const idx in keys) {
        let key = keys[idx]
        if(Object.keys(this.pump.engine_config).includes(key)) {
          engine_config[key] = this.pump.engine_config[key]
        } else {
          engine_config[key] = getDefaultValue(this.engine_config_template[key].type)
        }
      }

      this.pump.engine_config = engine_config
    },
    refreshEngineConfigTemplate() {
      this.$store.dispatch('loadEngineConfigTemplate', { pump: this.pump })
        .then(() => {
          this.applyEngineConfigTemplate()
          this.touch()
        })      
    },
    initializeEngineConfigTemplate() {
      return this.$store.dispatch('loadEngineConfigTemplate', { pump: this.pump })
        .then(() => {
          this.applyEngineConfigTemplate()
          this.validator.refresh()
        })
    },    
    validatorReady() {
      if(this.validator.report) {
        return true
      } else {
        return false
      }
    },    
    pipeValidatorReady(is_input, pipe_idx) {
      if (this.validatorReady() && (
          (is_input && this.validator.report.pipes.in[pipe_idx]) ||
          (!is_input && this.validator.report.pipes.out[pipe_idx])
        )) {
        return true
      } else {
        return false
      }
    },
    cancelCycle(cycle_uid) {
      this.$store.dispatch('cancelCycle', { uid: cycle_uid })
        .then(() => this.loadCycles())
    },
    freezeCycle(cycle_uid) {
      this.$store.dispatch('freezeCycle', { uid: cycle_uid })
        .then(() => this.loadCycles())
    },
    expireCycle(cycle_uid) {
      if(confirm('Are you sure you want to expire this cycle?')) {
        this.$store.dispatch('expireCycle', { uid: cycle_uid })
          .then(() => this.loadCycles())        
      }
    },    
    setRoles(role_uids) {
      this.pump.role_uids = role_uids
      this.touch()
    },
    getConfigField(field_code) {
      return getConfigField(field_code)
    },
    setEngineConfigField(field, value) {
      Vue.set(this.pump.engine_config, field, value)
      this.refreshEngineConfigTemplate()
    },
    formatByteCount(byteCount) {
      return formatByteCount(byteCount)
    },
    totalRecordBytes(cycle) {
      return cycle.records.reduce((byteCount, record) => { 
        return byteCount + record.byte_count
      }, 0)
    },
    showConstant(field) {
      this.constant_is_loading = true
      this.constant_show = true
      this.constant_field = field

      if(!(field in this.pump.constant_arrays)) {
        const arrayspec_uid = this.getArraySpecUid(field)

        this.$store.dispatch('applyConstantArray', { 
          field_key: field,
          constant_array: {
            arrayspec_uid: arrayspec_uid
          }
        })
          .then(() => { this.constant_is_loading = false })

      } else {
        this.constant_is_loading = false        
      }
    },
    hideConstant() {
      this.constant_show = false
    },
    applyConstant() {
      const arrayspec_uid = this.getArraySpecUid(this.constant_field)

      this.$store.dispatch('applyConstantArray', { 
        field_key: this.constant_field,
        constant_array: {
          arrayspec_uid: arrayspec_uid,
          data: this.pump.constant_arrays[this.constant_field].data
        }
      })
        .then(() => {
          this.setEngineConfigField(this.constant_field, this.pump.constant_arrays[this.constant_field].data_hash)
          this.constant_show = false
        })
    },
    getArraySpecUid(field) {
      const field_parts = field.split('_')
      const pipe_name = field_parts[1]
      const arrayspec_name = field_parts.slice(2).join('_')    
        
      for(var pipe_idx in this.pump.pipes) {
        if(this.pump.pipes[pipe_idx].name === pipe_name) {
          for(var tank_idx in this.tanks) {
            if(this.pump.pipes[pipe_idx].tank_uid === this.tanks[tank_idx].uid) {
              for(var arrayspec_idx in this.tanks[tank_idx].arrayspecs) {
                if(this.tanks[tank_idx].arrayspecs[arrayspec_idx].name === arrayspec_name) {
                  return this.tanks[tank_idx].arrayspecs[arrayspec_idx].uid
                }
              }
            }
          }
        }
      }
      return null
    },
    addFilter(pipe_name) {
      if(this.pump.is_locked) {
        return
      }

      for(var pipe_idx in this.pump.pipes) {
        if(this.pump.pipes[pipe_idx].name === pipe_name) {
          let filter_idx = this.pump.pipes[pipe_idx].filters.push({
            name: '',
            is_disabled: true,
            membrane_code: '',
            membrane_config: {}
          }) - 1

          if(!(pipe_name in this.membrane_config_templates)) {
            this.membrane_config_templates[pipe_name] = []
          }

          this.membrane_config_templates[pipe_name][filter_idx] = {}
          this.touch()
          return
        }
      }
    },
    clearFilter(pipe_name, filter_idx) {
      if(this.pump.is_locked) {
        return
      }

      for(var pipe_idx in this.pump.pipes) {
        if(this.pump.pipes[pipe_idx].name === pipe_name) {
          this.pump.pipes[pipe_idx].filters.splice(filter_idx, 1)
          this.membrane_config_templates[pipe_name].splice(filter_idx, 1)
          this.touch()
          return
        }
      }
    },
    applyMembraneConfigTemplate(pipe_name, filter_idx) {
      let fields = Object.keys(this.membrane_config_templates[pipe_name][filter_idx])
      let membrane_config = {}

      for(var pipe_idx in this.pump.pipes) {
        if(this.pump.pipes[pipe_idx].name === pipe_name) {

          for(const field_idx in fields) {
            let field = fields[field_idx]
            if(Object.keys(this.pump.pipes[pipe_idx].filters[filter_idx].membrane_config).includes(field)) {
              membrane_config[field] = this.pump.pipes[pipe_idx].filters[filter_idx].membrane_config[field]
            } else {
              membrane_config[field] = getDefaultValue(this.membrane_config_templates[pipe_name][filter_idx][field].type)
            }
          }
          this.pump.pipes[pipe_idx].filters[filter_idx].membrane_config = membrane_config

          return
        }
      }
    },
    refreshMembraneConfigTemplate(pipe_name, filter_idx) {
      for(var pipe_idx in this.pump.pipes) {
        if(this.pump.pipes[pipe_idx].name === pipe_name) {

          this.$store.dispatch('loadMembraneConfigTemplate', {
            pipe: this.pump.pipes[pipe_idx],
            filter: this.pump.pipes[pipe_idx].filters[filter_idx],
            filter_idx: filter_idx
          }).then(() => {
            this.applyMembraneConfigTemplate(pipe_name, filter_idx)
            this.touch()
          })

          return
        }
      }
    },
    initializeMembraneConfigTemplates() {
      return this.$store.dispatch('clearMembraneConfigTemplates')
        .then(() => {
          Promise.all(this.pump.pipes.map((pipe) => {
            return Promise.all(pipe.filters.map((filter, filter_idx) => {
              return this.$store.dispatch('loadMembraneConfigTemplate', {
                pipe: pipe,
                filter: filter,
                filter_idx: filter_idx
              })
            }))
          })).then(() => {
            for(var pipe_idx in this.pump.pipes) {
              for(var filter_idx in this.pump.pipes[pipe_idx].filters) {
                this.applyMembraneConfigTemplate(this.pump.pipes[pipe_idx].name, filter_idx)  
              }              
            }
            this.validator.refresh()
          })          
        })
    },
    setMembraneConfigField(pipe_name, filter_idx, field, value) {
      for(var pipe_idx in this.pump.pipes) {
        if(this.pump.pipes[pipe_idx].name === pipe_name) {
          Vue.set(this.pump.pipes[pipe_idx].filters[filter_idx].membrane_config, field, value)
          this.refreshMembraneConfigTemplate(pipe_name, filter_idx)
          return
        }
      }
    },
    filterValidatorReady(is_input, pipe_idx, filter_idx) {
      if (this.pipeValidatorReady(is_input, pipe_idx) && (
          (is_input && this.validator.report.pipes.in[pipe_idx].filters[filter_idx]) ||
          (!is_input && this.validator.report.pipes.out[pipe_idx].filters[filter_idx])
        )) {
        return true
      } else {
        return false
      }
    },    
    membraneConfigTemplateReady(pipe_name, filter_idx) {
      if(this.membrane_config_templates[pipe_name]) {
        if(this.membrane_config_templates[pipe_name][filter_idx]) {
          return true  
        } else {
          return false
        } 
      } else {
        return false
      }
    }    
  },
  beforeMount () {
    
    this.is_loading = true
    const which = this.$route.params.which
    if (which === 'new') {

      this.$store.dispatch('newPump')
        .then(() => this.$store.dispatch('loadIcons'))
        .then(() => this.$store.dispatch('loadEngines'))
        .then(() => this.$store.dispatch('loadMembranes'))
        .then(() => this.$store.dispatch('loadTanks', {skip:0}))
        .then(() => this.$store.dispatch('loadUsers', {skip:0}))
        .then(() => this.loadCycles())
        .then(() => this.applyPipes())
        .then(() => this.initializeEngineConfigTemplate())
        .then(() => this.initializeMembraneConfigTemplates())
        .then(() => this.is_loading = false)

    } else if (typeof(which) === 'string' && which.substring(0,6) === 'clone-') {
      const uid = parseInt(which.substring(6))
      if (!isNaN(uid)) {

        this.$store.dispatch('loadPump', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => {
            delete this.pump.uid
            this.pump.name = ''
            this.pump.cycle_count = 0
            this.pump.state_cycle_count = 0
            this.pump.is_locked = false
            for(var pipe_idx in this.pump.pipes) {
              delete this.pump.pipes[pipe_idx].uid
              for(var filter_idx in this.pump.pipes[pipe_idx].filters) {
                delete this.pump.pipes[pipe_idx].filters[filter_idx].uid
              }
            }
          })
          .then(() => this.$store.dispatch('loadIcons'))
          .then(() => this.$store.dispatch('loadEngines'))
          .then(() => this.$store.dispatch('loadMembranes'))
          .then(() => this.$store.dispatch('loadTanks', {skip:0}))
          .then(() => this.$store.dispatch('loadUsers', {skip:0}))
          .then(() => this.loadCycles())
          .then(() => this.applyPipes())
          .then(() => this.initializeEngineConfigTemplate())
          .then(() => this.initializeMembraneConfigTemplates())
          .then(() => this.is_loading = false)

      } else {
        this.$router.push({name:'not-found'})
      }
    } else {
      const uid = parseInt(which)
      if (!isNaN(uid)) {

        this.$store.dispatch('loadPump', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => this.$store.dispatch('loadIcons'))
          .then(() => this.$store.dispatch('loadEngines'))
          .then(() => this.$store.dispatch('loadMembranes'))
          .then(() => this.$store.dispatch('loadTanks', {skip:0}))
          .then(() => this.$store.dispatch('loadUsers', {skip:0}))
          .then(() => this.loadCycles())
          .then(() => this.applyPipes())
          .then(() => this.initializeEngineConfigTemplate())
          .then(() => this.initializeMembraneConfigTemplates())
          .then(() => {
            if(this.pump.is_locked) {
              this.$store.dispatch('addMessages', {
                messages: ['Pump is locked for editing because it is active.']
              })
            }
            this.is_loading = false
          })     
              
      } else {
        this.$router.push({name:'not-found'})
      }
    }
  }
}
  
</script>
