<template>
  <audio controls="controls" autobuffer="autobuffer" ref="audio">
    <source :src="data.base64" />
  </audio>
</template>
<script>
export default {
  name: 'AudioFace',
  props: {
    data: Object,
    write: Boolean
  },
  watch: {
    data: function() {
      this.$refs.audio.currentTime = 0.0  
    }
  }
}
</script>
