<template>
  <div>
    <table class="table-centered" v-if="!write">

      <tr v-if="hasIndexTome(0)">
        <td v-if="hasIndexTome(1)" class="px-1"></td>
        <td v-for="(_, col_idx) in data.booleans[0]" v-bind:key="col_idx" class="px-1">
          {{ getEntry(col_idx+1, data.index_tome_uids[0]) }}
        </td>
      </tr>

      <tr v-for="(row, row_idx) in data.booleans" v-bind:key="row_idx">

        <td v-if="hasIndexTome(1)" class="px-1">
          {{ getEntry(row_idx+1, data.index_tome_uids[1]) }}
        </td>

        <td v-for="(value, col_idx) in row" v-bind:key="col_idx" class="px-1">
          {{ value ? 'True' : 'False' }}
        </td>

      </tr>

    </table>

    <table class="table-centered" v-if="write">

      <tr v-if="hasIndexTome(0)" class="has-text-weight-bold">
        <td v-if="hasIndexTome(1)" class="px-1"></td>
        <td v-for="(_, col_idx) in data.booleans[0]" v-bind:key="col_idx" class="px-1">
          {{ getEntry(col_idx+1, data.index_tome_uids[0]) }}
        </td>
      </tr>

      <tr v-for="(row, row_idx) in data.booleans" v-bind:key="row_idx">


        <td v-if="hasIndexTome(1)" class="has-text-weight-bold px-1">
          {{ getEntry(row_idx+1, data.index_tome_uids[1]) }}
        </td>

        <td v-for="(value, col_idx) in row" v-bind:key="col_idx" class="px-1">
          <label class="checkbox">
            <input type="checkbox" :checked="booleans[row_idx][col_idx]"
               @input="input(row_idx, col_idx, $event)"/>
          </label>
        </td>

      </tr>

    </table>
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  name: 'BinaryFace',
  props: {
    data: Object,
    write: Boolean
  },
  computed: {
    ...mapState({ 
      tomes: state => state.cycle.tomes
    }),    
    booleans: function () {
      return this.data.booleans
    }
  },
  methods: {
    getEntry(idx, tome_uid) {
      if (!this.tomes || !this.tomes[tome_uid]) {
        return ''
      }
      if(idx < 1 || idx > this.tomes[tome_uid].entries.length) {
        return ''
      }
      return this.tomes[tome_uid].entries[idx-1]
    },    
    input(row_idx, col_idx, event) {
      let x = [...this.data.booleans]
      x[row_idx][col_idx] = event.target.checked
      this.$emit('input', Object.assign(this.data, {booleans: x}))
    },
    hasIndexTome(dim_idx) {
      if(dim_idx < 0 || dim_idx >= this.data.index_tome_uids.length) {
        return false
      } else {
        return Number.isInteger(this.data.index_tome_uids[dim_idx])
      }
    },
    loadTomes() {
      const tome_uids = this.data.index_tome_uids
        .filter(uid => Number.isInteger(uid) && !Object.keys(this.tomes).includes(uid))
      
      Promise.all(tome_uids.map(uid => {
        return this.$store.dispatch('loadCycleTome', { uid: uid })
      }))
    }
  },
  watch: {
    data: function () {
      this.loadTomes()
    }
  },
  beforeMount() {
    this.loadTomes()
  }
}
</script>
<style>
table.table-centered {
  margin: auto;
}
</style>
