<template>
  <div>
    <p v-if="!write">
      <span v-for="(line, idx) in lines" v-bind:key="idx">
        {{ line }}
        <br/>
      </span>
    </p>
    <textarea class="textarea" v-if="write" v-model="text"></textarea>
  </div>
</template>
<script>
export default {
  name: 'TextFace',
  props: {
    data: Object,
    write: Boolean
  },
  computed: {
    text: {
      get () {
        return this.data.text
      },
      set(x) {
        this.$emit('input', Object.assign(this.data, {text: x}))
      }
    },
    lines: function () {
      return this.data.text.split('\n')
    }
  }
}
</script>
