<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <form v-if="!is_loading">
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Name</label>
        </div>
        <div class="field-body control">
          <input class="input" type="text" id="name" name="name" v-model="user.name" disabled/>
        </div>
      </div>
      <div v-if="!isSuper" class="field is-fullwidth is-horizontal">
        <div class="field-label">
          <label class="label" for="old-password">Old Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-bind:class="{ 'is-danger': isDirty && validator.report.old_password.errors.length > 0  }" 
                type="password" id="old-password" name="old-password" v-model="user.old_password" 
                class="input" @input="touch"/>
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.old_password.errors.length > 0 ">
              <li v-for="(error, error_index) in validator.report.old_password.errors" v-bind:key="error_index">
                {{ error }}
              </li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="new-password">New Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input ref="new_password" autocomplete="new-password" class="input" 
                v-bind:class="{ 'is-danger': isDirty && validator.report.new_password.errors.length > 0 }" 
                type="password" id="new-password" name="new-password" 
                v-model="user.new_password" @input="touch"/>        
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.new_password.errors.length > 0">
              <li v-for="(error, error_index) in validator.report.new_password.errors" v-bind:key="error_index">
                {{ error }}
              </li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="repeat">Repeat New Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input ref="repeat_new_password" autocomplete="new-password" class="input"
                v-bind:class="{ 'is-danger': isDirty && validator.report.repeat_new_password.errors.length > 0 }" 
                type="password" id="repeat-new-password" name="repeat-new-password" 
                v-model="repeat_new_password" @input="touch"/>
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.repeat_new_password.errors.length > 0">
              <li v-for="(error, error_index) in validator.report.repeat_new_password.errors" v-bind:key="error_index">
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="columns is-mobile mt-4">
        <div class="column buttons">
          <a @click="savePassword" class="button is-small is-primary mr-3" :disabled="validator.anyErrors() || !isDirty">
            <span>Save Password</span>
            <span><i class="fas fa-unlock-alt ml-3"></i></span>
          </a>
        </div>
      </div>
    </form>
  </section>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import { ChangePasswordValidator } from '@/validators/changepassword'

import Spinner from '@/components/Spinner'

export default {
  name: 'ChangePassword',
  data () {
    return {
      repeat_new_password: '',
      validator: new ChangePasswordValidator(this),
      is_loading: false
    }
  },
  components: {
    Spinner
  },
  computed: { 
    ...mapState({ user: state => state.user.user_change_password }),
    ...mapGetters(['isSuper', 'isDirty'])
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },  
    savePassword() {
      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }
      this.$store.dispatch('saveUserChangePassword', { user: this.user })
        .then(() => {
          this.$store.dispatch('reset')
          this.$router.push({ 
            name: 'change-password', 
            query: { at: Date.now() }, 
            params: { which: this.user.uid } 
          }).catch(() => {})
          this.repeat_new_password=''
          this.$store.dispatch('addMessages', {
            messages: ['Password saved.']
          })
        })    
        .catch(() => {
          this.$store.dispatch('addMessages', {
            messages: ['Password update failed.']
          })
        })
    }
  },
  beforeMount () {

    this.is_loading = true
    const which = this.$route.params.which
    const uid = parseInt(which)
    if (!isNaN(uid)) {
      if(this.$store.getters.isSuper || (this.$store.getters.userUid === uid)) {
        this.$store.dispatch('loadUserChangePassword', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => this.validator.refresh())
          .then(() => this.is_loading = false)
      } else {
        this.$router.push('/')  
      }
    } else {
      this.$router.push({name:'not-found'})
    }
  }
}
</script>

