<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && users.length < 1" />
    <table v-if="!is_loading && users.length > 0" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" v-bind:key="user.uid">
          <td>{{ user.name }}</td>
          <td>
            <a @click="activateUser(user)" class="button is-small" v-if="user.is_disabled">
              <span>Inactive</span>
              <span class="icon"><i class="fas fa-times"></i></span>
            </a>
            <a @click="deactivateUser(user)" class="button is-small" v-if="!user.is_disabled">
              <span>Active</span>
              <span class="icon"><i class="fas fa-check"></i></span>
            </a>
          </td>
          <td>
            <router-link :to="{name: 'user', params: {which: user.uid}}" class="button is-small is-primary">
              <span>Edit</span>
              <span class="icon"><i class="fas fa-pen"></i></span>
            </router-link>
          </td>
          <td>
            <a @click="deleteUser(user.uid)" class="button is-small is-danger">
              <span>Delete</span>
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <div class="column buttons">
        <router-link :to="{name: 'user', params: {which: 'new'}}" class="button is-small is-primary">
          <span>Add User</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </router-link>
      </div>
      <page-controls v-if="users.length > 0" 
        v-bind="{ skip: skip, take: take, count: user_count }" 
        @input="(skip)=>changePage(skip)" />
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

export default {
  name: 'Users',
  data () {
    return {
      skip: 0,
      take: 10,
      is_loading: false
    }
  },
  components: {
    Ghost,
    Spinner,
    PageControls
  },
  computed: mapState({
    users: state => state.user.users,
    user_count: state => state.user.user_count
  }),  
  methods: {
    deleteUser(uid) {
      if(confirm('Are you sure you want to delete this user?')) {
        this.$store.dispatch('deleteUser', { uid: uid })
          .then(() => {
            this.loadUsers()
            this.$store.dispatch('addMessages', {
              messages: ['User deleted.']
            })
          })
      }
    },
    activateUser(user) {
      user.is_disabled = false
      this.$store.dispatch('saveUser', { user: user })
        .then(() => this.$store.dispatch('addMessages', {
          messages: ['User activated.']
        }))
    },
    deactivateUser(user) {
      user.is_disabled = true
      this.$store.dispatch('saveUser', { user: user })
        .then(() => this.$store.dispatch('addMessages', {
          messages: ['User deactivated.']
        }))
    },
    loadUsers() {
      this.$store.dispatch('loadUsers', { skip: this.skip, take: this.take })  
        .then(() => this.is_loading = false)
    },
    changePage(skip) {
      this.skip = skip
      this.loadUsers()
    }
  },
  beforeMount() {
    this.is_loading = true
    this.loadUsers()    
  }
}
</script>
