<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <form v-if="!is_loading">
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.name.errors.length > 0 }" 
                type="text" name="name" id="name" v-model="user.name" @input="touch"/>
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.name.errors.length > 0">
              <li v-for="(error, idx) in validator.report.name.errors" v-bind:key="idx">
                {{ error }}
              </li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label">
          <label class="label">Status</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="is_disabled" id="is_disabled" v-model="user.is_disabled" 
                  v-bind:value="false" @input="touch"/>
                Active
              </label>
              <label class="radio">
                <input type="radio" name="is_disabled" id="is_disabled" v-model="user.is_disabled" 
                  v-bind:value="true" @input="touch"/>
                Inactive
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label">
          <label class="label">Roles</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <role-refs v-bind:role_uids="user.role_uids" v-bind:disabled="false" @input="setRoles"/>
            </div>
          </div>
        </div>
      </div>


      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Request Limit</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.request_limit.errors.length > 0 }" 
                type="number" name="request_limit" id="request_limit" v-model="user.request_limit" @input="touch"/>
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.request_limit.errors.length > 0">
              <li v-for="(error, idx) in validator.report.request_limit.errors" v-bind:key="idx">
                {{ error }}
              </li>            
            </ul>
          </div>
        </div>
      </div>

      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Request Timeout (m)</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.request_timeout.errors.length > 0 }" 
                type="number" name="request_timeout" id="request_timeout" v-model="user.request_timeout" @input="touch"/>
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.request_timeout.errors.length > 0">
              <li v-for="(error, idx) in validator.report.request_timeout.errors" v-bind:key="idx">
                {{ error }}
              </li>            
            </ul>
          </div>
        </div>
      </div>


      <div class="columns is-mobile mt-4">
        <div class="column buttons">
          <a @click="saveUser" class="button is-small is-primary" :disabled="validator.anyErrors() || !isDirty">
            <span>Save User</span>
            <span><i class="fas fa-save ml-3"></i></span>
          </a>
          <router-link v-if="user.uid" :to="{ name: 'change-password', params: { which:user.uid } }" class="button is-small">
            <span>Change Password</span>
            <span><i class="fas fa-unlock-alt ml-3"></i></span>
          </router-link>
        </div>
      </div>
    </form>
  </section>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import { UserValidator } from '@/validators/user'

import RoleRefs from '@/components/RoleRefs'
import Spinner from '@/components/Spinner'

export default {
  name: 'User',
  data () {
    return {
      validator: new UserValidator(this),
      is_loading: false
    }
  },  
  components: {
    RoleRefs,
    Spinner
  },
  computed: { 
    ...mapState({ 
      user: state => state.user.user,
      verify_user: state => state.user.verify_user 
    }),
    ...mapGetters(['isDirty'])
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },    
    saveUser() {
      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }      
      this.$store.dispatch('saveUser', { user: this.user })
        .then(() => {
          this.$store.dispatch('reset')
          const which = this.$route.params.which
          if (which === 'new') {
            this.$store.dispatch('addPendingMessages', {
              messages: ['User saved.']
            })            
            this.$router.push({name: 'user', params: { which: this.user.uid }})
          } else {
            this.$store.dispatch('addMessages', {
              messages: ['User saved.']
            })            
          }
        })
    },
    setRoles(role_uids) {
      this.user.role_uids = role_uids
      this.touch()
    }
  },
  beforeMount () {

    this.is_loading = true
    const which = this.$route.params.which
    if (which === 'new') {
      this.$store.dispatch('newUser')  
        .then(() => {
          this.validator.refresh()
          this.is_loading = false
        })  
    } else {
      const uid = parseInt(which)
      if (!isNaN(uid)) {
        this.$store.dispatch('loadUser', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => {
            this.validator.refresh()
            this.is_loading = false
          })                    
      } else {
        this.$router.push({name:'not-found'})
      }
    }
  }
}
</script>
