<template>
  <section>
  <spinner v-if="is_loading" class="pt-4" />
    <h2 v-if="!is_loading">SYV {{ version }}</h2>
    <p v-if="!is_loading" class="mt-3">
      <a href="https://bitbucket.org/Thomas_Ash/syv/" target="_blank">Source Code</a>
    </p>
  </section>
</template>
<script>
import { mapState } from 'vuex'

import Spinner from '@/components/Spinner'

export default {
  name: 'About',
  components: {
    Spinner
  },  
  data () {
    return {
      is_loading: false
    }
  },
  computed: {
    ...mapState({
      version: state => state.info.version
    })
  },
  beforeMount() {
    this.is_loading = true
    this.$store.dispatch('loadInfo')
      .then(() => this.is_loading = false)
  }
}
</script>