<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && pumps.length === 0"/>
    <div v-if="!is_loading && pumps.length > 0" class="buttons">
      <div class="pump-exec" v-for="pump in pumps" v-bind:key="pump.uid">
        <a class="button is-large is-primary"
          @click="openCycle(pump)">
          <span v-if="pump.display_name.length > 0">{{ pump.display_name }}</span>
          <span class="icon">
            <i :class="`fas fa-${pump.fa_code}`"></i>
          </span>
        </a>        
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'

export default {
  name: 'Home',
  components: {
    Ghost,
    Spinner
  },
  data () {
    return {
      is_loading: false
    }
  },
  computed: {
    ...mapState({
      pumps: state => state.pump.executable_pumps,
      cycle: state => state.cycle.cycle
    })
  },
  methods: {
    openCycle(pump) {
      this.$store.dispatch('openCycle', {
        cycle: {
          pump_uid: pump.uid
        }
      })
        .then(() => this.$router.push({name: 'cycle', params: {which: this.cycle.uid}}) )   
    }
  },
  beforeMount() {
    this.is_loading = true
    this.$store.dispatch('loadExecutablePumps')
      .then(() => this.is_loading = false)
  }
}
</script>
<style>
div.pump-exec {
  padding: 5px 10px;
}

div.pump-exec a {
  width: 100%;
}

@media (max-width:768px) {
  div.pump-exec {
    width: 100%;
  }
}

@media (min-width:769px) and (max-width:1023px) {
  div.pump-exec {
    width: 50%;
  }
}

@media (min-width:1024px) and (max-width:1215px) {
  div.pump-exec {
    width: 33%;
  }
}

@media (min-width:1216px) {
  div.pump-exec {
    width: 25%;
  }
}
</style>
