<template>
  <section>
    <form>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-bind:class="{ 'is-danger': isDirty && validator.report.name.errors.length > 0 }" 
                type="text" id="name" name="name" v-model="name" @input="touch" class="input">
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.name.errors.length > 0">
              <li v-for="(error, error_index) in validator.report.name.errors" v-bind:key="error_index">
                {{ error }}
              </li>            
            </ul>          
          </div>
        </div>
      </div>

      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-bind:class="{ 'is-danger': isDirty && validator.report.password.errors.length > 0 }" 
              type="password" id="password" name="password" v-model="password" @input="touch" class="input">
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.password.errors.length > 0">
              <li v-for="(error, error_index) in validator.report.password.errors" v-bind:key="error_index">
                {{ error }}
              </li>            
            </ul>          
          </div>
        </div>
      </div>

      <div class="buttons">
        <a @click="login" class="button is-small is-primary" :disabled="validator.anyErrors() || !isDirty">
          <span>Login</span>
          <span class="icon"><i class="fas fa-key"></i></span>
        </a>
      </div>
    </form>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

import { LoginValidator } from '@/validators/login'

export default {
  name: 'Login',
  data () {
    return {
      name: '',
      password: '',
      validator: new LoginValidator(this)
    }
  },
  computed: {
    ...mapGetters(['isDirty'])
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },  
    login () {
      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }      
      this.$store.dispatch('authenticate', {
        name: this.name,
        password: this.password
      }).then(() => {
        if(this.$store.getters.isLoggedIn) {
          this.$router.push('/')
          this.$store.dispatch('addPendingMessages', {
            messages: ['Logged in.']
          })
        } else {
          this.$store.dispatch('addMessages', {
            messages: ['Login failed.']
          })
        }
      })
    }
  },
  beforeMount() {
    this.validator.refresh()
  }
}
</script>
