<template>
  <div>
    <spinner v-if="drops_are_loading" />
    <ready v-if="!drops_are_loading && noArrays" />
    <div class="columns" v-if="!drops_are_loading && !noArrays">
      <div class="column" v-for="drop in drops_page" v-bind:key="drop.uid">
        <div class="face has-text-centered mb-3" v-for="(array, arrayspec_name) in drop.arrays" v-bind:key="arrayspec_name">
          <component v-bind:is="getFace(array.face_code)" v-bind:data="array.data" v-bind:write="false"/>
        </div>
      </div>
    </div>

    <div class="columns is-mobile mt-4 zero-height" v-if="!drops_are_loading && !noArrays">
      <page-controls 
        v-bind="{ skip: skip, take: cycle.public_config.drops_per_page, count: cycle.drop_uids.input.length }" 
        @input="(skip)=>changePage(skip)" />
    </div>

  </div>
</template>
<script>
import { mapState } from 'vuex'

import { getFace } from '@/components/faces'
import PageControls from '@/components/PageControls'
import Spinner from '@/components/Spinner'
import Ready from '@/components/Ready'

export default {
  name: 'AbsorbEngine',  
  props: {
    cycle: Object
  },
  data () {
    return {
      drops_page: [],
      skip: 0,
      drops_are_loading: false
    }
  },  
  components: {
    PageControls,
    Spinner,
    Ready
  },  
  computed: {
    ...mapState({
      drops: state => state.cycle.drops
    }),
    noArrays: function () {
      if(!this.drops_page || this.drops_page.length === 0) {
        return false
      }
      if(!(this.drops_page[0].arrays) || Object.keys(this.drops_page[0].arrays).length > 0) {
        return false
      }
      return true
    }
  },  
  methods: {
    preCommit() {
      return new Promise((resolve) => resolve())
    },
    getFace(face_code) {
      return getFace(face_code)
    },
    bind() {
      this.drops_are_loading = true
      this.$store.dispatch('loadCycleDrops', { 
        cycle: this.cycle,
        pipe_name: 'input'
      })    
        .then(() => this.getDropsPage())
        .then(() => this.$emit('setCanCommit', true))
        .then(() => this.drops_are_loading = false)
    },
    touch () {},
    changePage(skip) {
      this.skip = skip
      this.getDropsPage()
    },
    getDropsPage() {
      this.drops_page = this.drops.input.slice(this.skip, this.skip + this.cycle.public_config.drops_per_page)
    }    
  }
}
</script>
<style>
div.zero-height {
  height:0;
}
</style>
