<template>
  <ready />
</template>
<script>
import Ready from '@/components/Ready'

export default {
  name: 'BaseEngine',  
  props: {
    cycle: Object
  },
  components: {
    Ready
  },
  methods: {
    preCommit() {
      return new Promise((resolve) => resolve())
    },
    bind() {
      this.$emit('setCanCommit', true)
    },
    touch () {}
  }
}
</script>
