<template>
  <div>
    <spinner v-if="drops_are_loading" />
    <ready v-if="!drops_are_loading && noArrays" />
    <div class="columns" v-if="!drops_are_loading && !noArrays">
      <div class="column" v-for="(drop, drop_idx) in output_drops_page" v-bind:key="drop_idx">
        <div class="face has-text-centered mb-3" v-for="(array, arrayspec_name) in drop.arrays" v-bind:key="arrayspec_name">
          <component v-bind:is="getFace(array.face_code)" v-bind:data="array.data" v-bind:write="true"
            @input="setArrayData(drop_idx, arrayspec_name, $event)" />
        </div>
      </div>
    </div>
    <div class="columns is-mobile mt-4 zero-height" v-if="!drops_are_loading && !noArrays">
      <page-controls
        v-bind="{ skip: skip, take: cycle.public_config.drops_per_page, count: output_drops.length }" 
        @input="(skip)=>changePage(skip)" />
    </div>
  </div>
</template>
<script>
const clone = require('rfdc')()

import { mapState } from 'vuex'

import { getFace } from '@/components/faces'
import PageControls from '@/components/PageControls'
import Spinner from '@/components/Spinner'
import Ready from '@/components/Ready'

export default {
  name: 'CreateEngine',  
  props: {
    cycle: Object
  },
  data () {
    return {
      output_drops: [],
      output_drops_page: [],
      skip: 0,
      drops_are_loading: false
    }
  },
  components: {
    PageControls,
    Spinner,
    Ready
  },  
  computed: {
    ...mapState({
      blanks: state => state.arrayspec.blanks
    }),
    noArrays: function () {
      if(!this.output_drops_page || this.output_drops_page.length === 0) {
        return false
      }
      if(!(this.output_drops_page[0].arrays) || Object.keys(this.output_drops_page[0].arrays).length > 0) {
        return false
      }
      return true
    }
  },
  methods: {
    preCommit() {
      return this.$store.dispatch('addCycleDrops', {
        uid: this.cycle.uid,
        drops: {
          output: this.output_drops
        }
      })
    },
    getFace(face_code) {
      return getFace(face_code)
    },
    bind() {
      this.drops_are_loading = true
      this.$store.dispatch('clearBlanks')
        .then(() => {
          Promise.all(Object.keys(this.cycle.ask_arrays.output).map(name => {
            return this.$store.dispatch('loadBlank', { 
              name: name, 
              uid: this.cycle.ask_arrays.output[name].arrayspec_uid 
            })
          }))
            .then(() => {
              this.output_drops = [...Array(this.cycle.public_config.drop_count)].map(() => {
                return {
                  arrays: clone(this.blanks)
                }
              })
              this.getOutputDropsPage()
              this.$emit('setCanCommit', true)
              this.drops_are_loading = false
            })                     
        })   
    },
    touch () {},
    setArrayData(drop_idx, arrayspec_name, x) {
      this.output_drops[drop_idx].arrays[arrayspec_name].data = x
    },
    changePage(skip) {
      this.skip = skip
      this.getOutputDropsPage()
    },
    getOutputDropsPage() {
      this.output_drops_page = this.output_drops.slice(this.skip, this.skip + this.cycle.public_config.drops_per_page)
    }
  }
}
</script>
<style>
div.zero-height {
  height:0;
}
</style>
