<template>
  <div>
    <ready />
  </div>
</template>
<script>

import Ready from '@/components/Ready'

export default {
  name: 'ExportEngine',  
  props: {
    cycle: Object
  },
  components: {
    Ready
  },
  methods: {
    preCommit() {
      return new Promise((resolve) => resolve())
    },
    bind() {
      this.$emit('setCanCommit', true)      
    },
    touch () {},
    getDropCount() {
      if(this.cycle && this.cycle.drop_uids && this.cycle.drop_uids.input) {
        return this.cycle.drop_uids.input.length
      } else {
        return 0
      }
    }
  }
}
</script>
