<template>
  <div>
    <spinner v-if="drops_are_loading" />
    <div class="columns" v-if="!drops_are_loading">
      <div class="column" v-for="drop in drops_page" v-bind:key="drop.uid">

        <div class="face has-text-centered">

          <component v-for="(array, arrayspec_name) in drop.arrays" 
            v-bind:is="getFace(array.face_code)" v-bind:key="arrayspec_name"
            v-bind:data="array.data" v-bind:write="false"/>

        </div>

        <div class="has-text-centered">
          <a class="button is-success is-small mx-1" :class="{ 'is-outlined': !accept_uids.includes(drop.uid) }" 
            @click="accept(drop.uid)">
            <span>Accept</span>
            <span class="icon"><i class="fas fa-thumbs-up"></i></span>
          </a>
          <a class="button is-danger is-small mx-1" :class="{ 'is-outlined': !reject_uids.includes(drop.uid) }"
            @click="reject(drop.uid)">
            <span>Reject</span>
            <span class="icon"><i class="fas fa-thumbs-down"></i></span>          
          </a>
        </div>
      </div>
    </div>
    <div class="columns is-mobile mt-4 zero-height" v-if="!drops_are_loading">
      <page-controls 
        v-bind="{ skip: skip, take: cycle.public_config.drops_per_page, count: cycle.drop_uids.input.length }" 
        @input="(skip)=>changePage(skip)" />
    </div>    
  </div>
</template>
<script>
import { mapState } from 'vuex'

import { getFace } from '@/components/faces'
import PageControls from '@/components/PageControls'
import Spinner from '@/components/Spinner'

export default {
  name: 'FilterEngine',  
  props: {
    cycle: Object
  },
  data () {
    return {
      accept_uids: [],
      reject_uids: [],
      drops_page: [],
      skip: 0,
      drops_are_loading: false
    }
  },
  components: {
    PageControls,
    Spinner
  },   
  computed: {
    ...mapState({
      drops: state => state.cycle.drops
    })
  },
  methods: {
    preCommit() {
      return this.$store.dispatch('addCycleDrops', {
        uid: this.cycle.uid,
        drops: {
          accept: this.accept_uids.map((uid) => { return { mapped_uid: uid } }),
          reject: this.reject_uids.map((uid) => { return { mapped_uid: uid } })
        }
      })
    },
    touch() {
      if(!('input' in this.drops) || this.drops.input.length > (this.accept_uids.length + this.reject_uids.length)) {
        this.$emit('setCanCommit', false)
      } else {
        this.$emit('setCanCommit', true)
      }
    },
    getFace(face_code) {
      return getFace(face_code)
    },
    bind() {
      this.drops_are_loading = true
      this.$store.dispatch('loadCycleDrops', { 
        cycle: this.cycle,
        pipe_name: 'input'
      })      
        .then(() => this.getDropsPage())
        .then(() => this.drops_are_loading = false)
    },
    accept(drop_uid) {
      if(!this.accept_uids.includes(drop_uid)) {
        this.accept_uids.push(drop_uid)
      }
      if(this.reject_uids.includes(drop_uid)) {
        this.reject_uids.splice(this.reject_uids.indexOf(drop_uid), 1)
      }
      this.touch()
    },
    reject(drop_uid) {
      if(!this.reject_uids.includes(drop_uid)) {
        this.reject_uids.push(drop_uid)
      }
      if(this.accept_uids.includes(drop_uid)) {
        this.accept_uids.splice(this.accept_uids.indexOf(drop_uid), 1)
      }
      this.touch()
    },
    changePage(skip) {
      this.skip = skip
      this.getDropsPage()
    },
    getDropsPage() {
      this.drops_page = this.drops.input.slice(this.skip, this.skip + this.cycle.public_config.drops_per_page)
    }
  }
}
</script>
<style>
div.zero-height {
  height:0;
}
</style>
