<template>
  <div>
    <div class="field is-horizontal is-fullwidth">
      <div class="field-label is-normal">
        <label class="label">Input File</label>
      </div>
      <div class="field-body">
        <div class="control">
          <input class="input" type="file" ref="fileInput" @change="touch"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getChunkSize } from '@/utils'

export default {
  name: 'ImportEngine',
  props: {
    cycle: Object
  },
  methods: {
    preCommit() {
      return this.uploadFile()()
    },
    touch() {
      if(!this.$refs.fileInput || this.$refs.fileInput.files.length === 0) {
        this.$emit('setCanCommit', false)
      } else {
        this.$emit('setCanCommit', true)
      }
    },
    bind() {},
    uploadFile() {

      return async () => {
        const file = this.$refs.fileInput.files[0]
        const chunkSize = getChunkSize()
        const fileSize = file.size
        const chunkCount = Math.ceil(fileSize / chunkSize)

        this.$emit('setCommitProgress', 0)

        for(let chunkIdx = 0; chunkIdx < chunkCount; chunkIdx++) {
          const chunkStart = chunkSize * chunkIdx
          const chunkEnd = Math.min(chunkStart + chunkSize, fileSize)
          const chunk = file.slice(chunkStart, chunkEnd)

          await this.$store.dispatch('addCycleRecordChunk', {
            uid: this.cycle.uid,
            record_name: 'input',
            chunk: chunk,
            fileName: file.name,
            chunkStart: chunkStart,
            chunkEnd: chunkEnd,
            fileSize: fileSize
          })

          this.$emit('setCommitProgress', (100 * chunkIdx) / chunkCount)
        }

      }
    }

  }
}
</script>
