<template>  
  <div>
    <ready v-if="!this.cycle.public_config.defer_base_url" />
  </div>
</template>
<script>
import Ready from '@/components/Ready'

export default {
  name: 'ScrapeEngine',  
  props: {
    cycle: Object
  },
  components: {
    Ready
  },
  methods: {
    preCommit() {
      return new Promise((resolve) => resolve())
    },
    bind() {
      this.$emit('setCanCommit', !this.cycle.public_config.defer_base_url)
    },
    touch() {
      if(!this.cycle.client_config.base_url || this.cycle.client_config.base_url === '') {
        this.$emit('setCanCommit', false)
      } else {
        this.$emit('setCanCommit', true)
      }
    }    
  }
}
</script>
