<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && roles.length < 1" />
    <table v-if="!is_loading && roles.length > 0" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="role in roles" v-bind:key="role.uid">
          <td>{{ role.name }}</td>
          <td>
            <a @click="activateRole(role)" class="button is-small" v-if="role.is_disabled">
              <span>Inactive</span>
              <span class="icon"><i class="fas fa-times"></i></span>
            </a>
            <a @click="deactivateRole(role)" class="button is-small" v-if="!role.is_disabled">
              <span>Active</span>
              <span class="icon"><i class="fas fa-check"></i></span>
            </a>
          </td>
          <td>
            <router-link :to="{name: 'role', params: {which: role.uid}}" class="button is-small is-primary">
              <span>Edit</span>
              <span class="icon"><i class="fas fa-pen"></i></span>
            </router-link>
          </td>
          <td>
            <a @click="deleteRole(role.uid)" class="button is-small is-danger">
              <span>Delete</span>
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <div class="column buttons">
        <router-link :to="{name: 'role', params: {which: 'new'}}" class="button is-small is-primary">
          <span>Add Role</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </router-link>
      </div>
      <page-controls v-if="roles.length > 0" 
        v-bind="{ skip: skip, take: take, count: role_count }" 
        @input="(skip)=>changePage(skip)" />
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

export default {
  name: 'Roles',
  data () {
    return {
      skip: 0,
      take: 10,
      is_loading: false
    }
  },  
  components: {
    Ghost,
    Spinner,
    PageControls
  },
  computed: mapState({
    roles: state => state.role.roles,
    role_count: state => state.role.role_count
  }),
  methods: {
    deleteRole(uid) {
      if(confirm('Are you sure you want to delete this role?')) {
        this.$store.dispatch('deleteRole', { uid: uid })
          .then(() => {
            this.loadRoles()
            this.$store.dispatch('addMessages', {
              messages: ['Role deleted.']
            })
          })
      }
    },
    activateRole(role) {
      role.is_disabled = false
      this.$store.dispatch('saveRole', { role: role })
        .then(() => this.$store.dispatch('addMessages', {
          messages: ['Role activated.']
        }))
    },
    deactivateRole(role) {
      role.is_disabled = true
      this.$store.dispatch('saveRole', { role: role })
        .then(() => this.$store.dispatch('addMessages', {
          messages: ['Role deactivated.']
        }))
    },
    loadRoles() {
      this.$store.dispatch('loadRoles', { skip: this.skip, take: this.take })
        .then(() => this.is_loading = false)
    },
    changePage(skip) {
      this.skip = skip
      this.loadRoles()
    }
  },
  beforeMount() {
    this.is_loading = true
    this.loadRoles()
  }
}
</script>
