<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <form v-if="!is_loading">
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="name">Name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.name.errors.length > 0 }"
                type="text" name="name" id="name" v-model="role.name" @input="touch"/>
            </div>
            <ul class="help is-danger" v-if="isDirty && validator.report.name.errors.length > 0">
              <li v-for="(error, error_index) in validator.report.name.errors" v-bind:key="error_index">
                {{ error }}
              </li>            
            </ul>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label">
          <label class="label">Status</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="is_disabled" id="is_disabled" v-model="role.is_disabled"
                  v-bind:value="false" @input="touch"/>
                Active
              </label>
              <label class="radio">
                <input type="radio" name="is_disabled" id="is_disabled" v-model="role.is_disabled"
                  v-bind:value="true" @input="touch"/>
                Inactive
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label">
          <label class="label">Admin Rights</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="is_admin" id="is_admin" v-model="role.is_admin"
                  v-bind:value="false" @input="touch"/>
                No
              </label>
              <label class="radio">
                <input type="radio" name="is_admin" id="is_admin" v-model="role.is_admin"
                  v-bind:value="true" @input="touch"/>
                Yes
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-fullwidth is-horizontal">
        <div class="field-label">
          <label class="label">Super Rights</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">        
              <label class="radio">
                <input type="radio" name="is_super" id="is_super" v-model="role.is_super"
                  v-bind:value="false" @input="touch"/>
                No
              </label>
              <label class="radio">
                <input type="radio" name="is_super" id="is_super" v-model="role.is_super"
                  v-bind:value="true" @input="touch"/>
                Yes
              </label>
            </div>
          </div>    
        </div>
      </div>    

      <div class="columns is-mobile mt-4">
        <div class="column buttons">
          <a @click="saveRole" class="button is-small is-primary" :disabled="validator.anyErrors() || !isDirty">
            <span>Save Role</span>
            <span><i class="fas fa-save ml-3"></i></span>
          </a>
        </div>
      </div>
    </form>
  </section>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import { RoleValidator } from '@/validators/role'

import Spinner from '@/components/Spinner'

export default {
  name: 'Role',
  data () {
    return {
      validator: new RoleValidator(this),
      is_loading: false
    }
  },
  components: {
    Spinner
  },
  computed: { 
    ...mapState({ 
      role: state => state.role.role,
      verify_role: state => state.role.verify_role
    }),
    ...mapGetters(['isDirty'])
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },    
    saveRole() {
      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }      
      this.$store.dispatch('saveRole', { role: this.role })
        .then(() => {
          this.$store.dispatch('reset')
          const which = this.$route.params.which
          if (which === 'new') {
            this.$store.dispatch('addPendingMessages', {
              messages: ['Role saved.']
            })
            this.$router.push({name: 'role', params: { which: this.role.uid }})
          } else {             
            this.$store.dispatch('addMessages', {
              messages: ['Role saved.']
            })
          }
        })
    }
  },
  beforeMount () {

    this.is_loading = true
    const which = this.$route.params.which
    if (which === 'new') {
      this.$store.dispatch('newRole')
        .then(() => {
          this.validator.refresh()
          this.is_loading = false
        })
    } else {
      const uid = parseInt(which)
      if (!isNaN(uid)) {
        this.$store.dispatch('loadRole', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => {
            this.validator.refresh()
            this.is_loading = false
          })          
      } else {
        this.$router.push({name:'not-found'})
      }
    }
  }
}
</script>
