<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <form v-if="!is_loading">
      <div v-show="currentTab === 'tome'">

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="name">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input class="input" v-bind:class="{ 'is-danger': isDirty && validator.report.name.errors.length > 0 }" 
                  type="text" name="name" id="name" v-model="tome.name" @input="touch"/>
              </div>
              <ul class="help is-danger" v-if="isDirty && validator.report.name.errors.length > 0">
                <li v-for="(error, error_index) in validator.report.name.errors" v-bind:key="error_index">
                  {{ error }}
                </li>            
              </ul>
            </div>
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label">
            <label class="label">Entries</label>
          </div>
          <div class="field-body">
            <span>{{ tome.entry_count }}</span>
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label"></div>
          <div class="field-body columns">
            <div class="control column is-two-thirds">
              <textarea class="textarea" v-model="new_entries_text"></textarea>
            </div>
            <div class="column is-one-third">
              <a @click="addEntriesText"
                class="button is-small" 
                :disabled="!anyNewEntriesText">
                <span>Add Entries</span>
                <span><i class="fa fa-plus ml-3"></i></span>
              </a>
            </div>
          </div>
        </div>

        <div class="field is-fullwidth is-horizontal">
          <div class="field-label"></div>
          <div class="field-body">
            <a @click="clearEntries"
              class="button is-small is-danger"
              :disabled="!anyEntries || tome.is_locked">
              <span>Clear Entries</span>
              <span><i class="fa fa-trash-alt ml-3"></i></span>
            </a>
          </div>
        </div>


      </div>
      <div v-show="currentTab === 'entries'">

        <ghost v-if="!anyEntries" />

        <table v-if="anyEntries" class="table is-fullwidth">
          <thead>
            <tr>
              <th>Index</th>
              <th>Entry</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(entry, idx) in entries_page" v-bind:key="idx">
              <td>
                {{ idx+skip+1 }}
              </td>
              <td>
                {{ entry }}
              </td>
            </tr>
          </tbody>

        </table>

      </div>
      <div class="columns is-mobile mt-4">
        <div class="column buttons">
          <a @click="saveTome" class="button is-small is-primary" :disabled="validator.anyErrors() || !isDirty">
            <span>Save Tome</span>
            <span><i class="fas fa-save ml-3"></i></span>
          </a>
        </div>
        <page-controls v-if="anyEntries"
          v-show="currentTab === 'entries'"
          v-bind="{ skip: skip, take: take, count: tome.entry_count }" 
          @input="(skip)=>changePage(skip)" />
      </div>
    </form>
  </section>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

import { TomeValidator } from '@/validators/tome'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

export default {
  name: 'Tome',
  components: {
    Ghost,
    Spinner,
    PageControls
  },
  data () {
    return {
      new_entries_text: '',
      skip: 0,
      take: 10,
      entries_page: [],
      validator: new TomeValidator(this),
      is_loading: false
    }
  },  
  computed: { 
    ...mapState({ 
      tome: state => state.tome.tome,
      verify_tome: state => state.tome.verify_tome
    }),
    ...mapGetters(['currentTab', 'isDirty']),
    anyEntries: function () {
      if(!this.tome.entries) {
        return false
      }
      return this.tome.entries.length > 0
    },
    anyNewEntriesText: function () {
      return this.new_entries_text.length > 0
    }
  },
  methods: {
    touch() {
      this.$store.dispatch('touch')
        .then(() => this.validator.refresh())
    },    
    saveTome() {
      if(this.validator.anyErrors() || !this.isDirty) {
        return
      }      
      this.$store.dispatch('saveTome', { tome: this.tome })
        .then(() => {
          this.$store.dispatch('reset')
          const which = this.$route.params.which
          if (which === 'new') {
            this.$store.dispatch('addPendingMessages', {
              messages: ['Tome saved.']
            })
            this.$router.push({name: 'tome', params: { which: this.tome.uid }})
          } else {
            this.$store.dispatch('addMessages', {
              messages: ['Tome saved.']
            })          
          }
        })
    },
    getEntriesPage() {
      this.entries_page = this.tome.entries.slice(this.skip, this.skip + this.take)
    },
    changePage(skip) {
      this.skip = skip
      this.getEntriesPage()
    },
    addEntries(entries) {
      let added_count = 0
      let filtered_count = 0
      entries.forEach((entry) => {
        if(entry.length > 0) {
          if(this.tome.entries.includes(entry)) {
            filtered_count++
          } else {
            this.tome.entries.push(entry)
            added_count++
          }
        }
      })
      if(added_count > 0) {
        this.tome.entry_count = this.tome.entries.length
        this.getEntriesPage()
        this.touch()
        this.$store.dispatch('addMessages', {
          messages: [`Added ${added_count} entries.`]
        })
      }
      if(filtered_count > 0) {
        this.$store.dispatch('addMessages', {
          messages: [`Filtered ${filtered_count} duplicates.`]
        })
      }
    },
    clearEntries() {
      if(this.tome.is_locked) {
        return
      }

      const cleared_count = this.tome.entry_count
      this.tome.entries = []
      this.tome.entry_count = 0
      this.getEntriesPage()
      this.touch()
      this.$store.dispatch('addMessages', {
        messages: [`Deleted ${cleared_count} entries.`]
      })
    },
    addEntriesText() {
      this.addEntries(this.new_entries_text.split('\n'))
      this.new_entries_text = ''
    }
  },
  beforeMount () {

    this.is_loading = true
    const which = this.$route.params.which
    if (which === 'new') {
      this.$store.dispatch('newTome')  
        .then(() => {
          this.getEntriesPage()
          this.validator.refresh()
          this.is_loading = false
        })
    } else {
      const uid = parseInt(which)
      if (!isNaN(uid)) {
        this.$store.dispatch('loadTome', { uid: uid })
          .catch(() => this.$router.push({name:'not-found'}))
          .then(() => {
            this.getEntriesPage()
            this.validator.refresh()
            if(this.tome.is_locked) {
              this.$store.dispatch('addMessages', {
                messages: ['Entries of this tome cannot be deleted because it is referenced by a locked tank.']
              })              
            }
            this.is_loading = false
          })
      } else {
        this.$router.push({name:'not-found'})
      }
    }
  }
}
</script>
