<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && tomes.length < 1" />
    <table v-if="!is_loading && tomes.length > 0" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Entries</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tome in tomes" v-bind:key="tome.uid">
          <td>{{ tome.name }}</td>
          <td>{{ tome.entry_count }}</td>
          <td>
            <a @click="routeToTome(tome.uid, 'tome')" 
              class="button is-small is-primary">
              <span>Edit</span>
              <span class="icon"><i class="fas fa-pen"></i></span>
            </a>
          </td>
          <td>
            <a @click="routeToTome(tome.uid, 'entries')"
              class="button is-small">
              <span>Entries</span>
              <span class="icon"><i class="fas fa-scroll"></i></span>
            </a>
          </td>
          <td>
            <a @click="deleteTome(tome)" class="button is-small is-danger" :disabled="tome.is_locked">
              <span>Delete</span>
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <div class="column buttons">
        <a @click="routeToTome('new', 'tome')" 
          class="button is-small is-primary">
          <span>Add Tome</span>
          <span class="icon"><i class="fas fa-plus"></i></span>
        </a>
      </div>
      <page-controls v-if="tomes.length > 0" 
        v-bind="{ skip: skip, take: take, count: tome_count }" 
        @input="(skip)=>changePage(skip)" />
    </div>
  </section>
</template>
<script>
import { mapState } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

export default {
  name: 'Tomes',
  data () {
    return {
      skip: 0,
      take: 10,
      is_loading: false
    }
  },
  components: {
    Ghost,
    Spinner,
    PageControls
  },
  computed: mapState({
    tomes: state => state.tome.tomes,
    tome_count: state => state.tome.tome_count
  }),  
  methods: {
    deleteTome(tome) {
      if(tome.is_locked) {
        return
      }

      if(confirm('Are you sure you want to delete this tome?')) {
        this.$store.dispatch('deleteTome', { uid: tome.uid })
          .then(() => {
            this.loadTomes()
            this.$store.dispatch('addMessages', {
              messages: ['Tome deleted.']
            })
          })
      }
    },
    loadTomes() {
      this.$store.dispatch('loadTomes', { skip: this.skip, take: this.take })
        .then(() => this.is_loading = false)
    },
    changePage(skip) {
      this.skip = skip
      this.loadTomes()
    },
    routeToTome(which, tab) {
      this.$store.dispatch('switchTab', { tab: tab })
        .then(() => {
          this.$router.push({name: 'tome', params: {which: which}})
        })
    }
  },
  beforeMount() {
    this.is_loading = true
    this.loadTomes()    
  }
}
</script>
