<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <ghost v-if="!is_loading && cycles.length < 1"/>
    <table v-if="!is_loading && cycles.length > 0" class="table is-fullwidth">
      <thead>
        <tr>
          <th>Pump</th>
          <th v-if="isAdmin">User</th>
          <th>Status</th>         
          <th>Records (total size)</th>               
          <th>Expires At</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="cycle in cycles" v-bind:key="cycle.uid">
          <td>
            {{ cycle.pump_name }}
          </td>
          <td v-if="isAdmin">
            {{ cycle.user_name }}
          </td>
          <td>
            <span v-if="cycle.error">Failed</span>
            <span v-if="!cycle.error && cycle.progress === 100">Complete</span>
            <span v-if="!cycle.error && cycle.progress < 100">{{ cycle.progress }}&#37;</span>
          </td>
          <td>{{ cycle.records.length }} ({{ formatByteCount(totalRecordBytes(cycle)) }})</td>
          <td>
            <span v-if="cycle.expire_after">
              {{ new Date(cycle.expire_after).toLocaleString() }}
            </span>
            <span  v-if="!cycle.expire_after">Never</span>
          </td>
          <td>
            <router-link class="button is-small is-primary" :to="{ name: 'cycle', params: { which:cycle.uid } }">
              <span>View</span>
              <span class="icon"><i class="fas fa-eye"></i></span>
            </router-link>                
          </td>
          <td>
            <a class="button is-small" v-if="(cycle.error || cycle.progress === 100) && cycle.expire_after"
              @click="freezeCycle(cycle.uid)">
              <span>Freeze</span>
              <span class="icon"><i class="fas fa-snowflake"></i></span>
            </a>
          </td>
          <td>
            <a class="button is-small is-danger" v-if="!cycle.error && cycle.progress < 100"
              @click="cancelCycle(cycle.uid)">
              <span>Cancel</span>
              <span class="icon"><i class="fas fa-times"></i></span>
            </a>
            <a class="button is-small is-danger" v-if="cycle.error || cycle.progress === 100"
              @click="expireCycle(cycle.uid)">
              <span>Expire</span>
              <span class="icon"><i class="fas fa-trash-alt"></i></span>
            </a>
          </td>
        </tr>
      </tbody>      
    </table>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <page-controls v-if="cycles.length > 0" 
        v-bind="{ skip: skip, take: take, count: cycle_count }" 
        @input="(skip)=>changePage(skip)" />
    </div>    
    
  </section>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

import Ghost from '@/components/Ghost'
import Spinner from '@/components/Spinner'
import PageControls from '@/components/PageControls'

import { formatByteCount } from '@/utils'

export default {
  name: 'Cycles',
  data () {
    return {
      skip: 0,
      take: 10,
      is_loading: false
    }
  },
  components: {
    Ghost,
    PageControls,
    Spinner
  },
  computed: {
    ...mapState({
      cycles: state => state.cycle.cycles,
      cycle_count: state => state.cycle.cycle_count
    }),
    ...mapGetters(['userUid', 'isAdmin'])
  },
  methods: {
    loadCycles() {
      this.$store.dispatch('loadCycles', { 
        skip: this.skip, 
        take: this.take,
        pump_uid: null,
        user_uid: this.isAdmin ? null : this.userUid
      })
        .then(() => this.is_loading = false)
    },
    changePage(skip) {
      this.skip = skip
      this.loadCycles()
    },
    cancelCycle(cycle_uid) {
      this.$store.dispatch('cancelCycle', { uid: cycle_uid })
        .then(() => this.loadCycles())
    },
    freezeCycle(cycle_uid) {
      this.$store.dispatch('freezeCycle', { uid: cycle_uid })
        .then(() => this.loadCycles())
    },
    expireCycle(cycle_uid) {
      if(confirm('Are you sure you want to expire this cycle?')) {
        this.$store.dispatch('expireCycle', { uid: cycle_uid })
          .then(() => this.loadCycles())        
      }
    },
    formatByteCount(byteCount) {
      return formatByteCount(byteCount)
    },
    totalRecordBytes(cycle) {
      return cycle.records.reduce((byteCount, record) => { 
        return byteCount + record.byte_count
      }, 0)
    }   
  },
  beforeMount() {
    this.is_loading = true
    this.loadCycles()
  }
}
</script>
