<template>
  <section>
    <spinner v-if="is_loading" class="pt-4" />
    <div v-show="!is_loading" v-if="!cycle.is_committed && !cycle.error ">

      <div v-if="is_committing">
        <spinner message="Committing..." />  
        <progress class="progress is-primary is-large"
          v-bind:value="commit_progress" max="100">
          {{ commit_progress }}&#37;
        </progress>
      </div>

      <div v-if="cycle.client_config_template" v-show="!is_committing">

        <div v-for="field in Object.keys(cycle.client_config_template)" v-bind:key="field" 
          class="field is-fullwidth is-horizontal">

          <div class="field-label" :class="{ 'is-normal': cycle.client_config_template[field].type != 'boolean_radio' }">
            <label class="label" :for="`engine_config_${field}`">
              {{ cycle.client_config_template[field].label }}
            </label>
          </div>

          <component v-bind:is="getConfigField(cycle.client_config_template[field].type)"
            v-bind:name="field" v-bind:template="cycle.client_config_template[field]"
            v-bind:value="cycle.client_config[field]" 
            v-bind:disabled="false" v-bind:errors="[]" 
            @input="setConfigField(field, $event)" />
          
        </div>      

      </div>

      <component v-bind:is="getEngine(cycle.pump_engine_code)" v-bind:cycle="cycle" 
        ref="engine" @setCanCommit="setCanCommit($event)" @setCommitProgress="setCommitProgress($event)"
        v-show="!is_committing"/>

    </div>
    <div v-if="!is_loading && cycle.is_committed && !cycle.error && cycle.progress < 100">
      <spinner message="Processing..." />
      <progress class="progress is-primary is-large"
        v-bind:value="cycle.progress" max="100">
        {{ cycle.progress }}&#37;
      </progress>
    </div>
    <div v-if="!is_loading && cycle.error">
      <h2>Failed</h2>
      <p>{{ cycle.error }}</p>
    </div>
    <div v-if="!is_loading && cycle.progress === 100">
      <div v-if="!is_downloading">

        <h2>Complete</h2>

        <div v-for="record in cycle.records" v-bind:key="record.name">
          <div v-if="!record.is_input" class="field is-fullwidth is-horizontal">
            <div class="field-label is-normal">
              <label class="label">
                <span>{{ record.name }}: {{ record.filename }} ({{ formatByteCount(record.byte_count) }})</span>
              </label>            
            </div>
              <div class="field-body">
                <a class="button is-small is-primary" @click="downloadRecord(record)">
                  <span>Download</span>
                  <span class="icon">
                    <i class="fas fa-download"></i>
                  </span>
                </a>
                
              </div>
          </div>
        </div>
      </div>

      <div v-if="is_downloading">
        
        <spinner message="Downloading..." />
        <progress class="progress is-primary is-large"
          v-bind:value="download_progress" max="100">
          {{ download_progress }}&#37;
        </progress>

      </div>

    </div>
    <div v-if="!is_loading" class="columns is-mobile mt-4">
      <div class="column buttons">
        <a @click="repeat" class="button is-primary is-small"
          v-if="cycle.error || cycle.progress === 100">
          <span>Repeat</span>
          <span class="icon"><i class="fas fa-redo"></i></span>
        </a>        
        <a @click="commit" class="button is-primary is-small"
          v-if="!cycle.is_committed && !cycle.error" :disabled="!can_commit || is_committing">
          <span>Commit</span>
          <span class="icon"><i class="fas fa-paper-plane"></i></span>
        </a>
        <a @click="cancel" class="button is-danger is-small" v-if="!cycle.error && cycle.progress < 100">
          <span>Cancel</span>
          <span class="icon"><i class="fas fa-times"></i></span>
        </a>
      </div>
    </div>
  </section>
</template>
<script>
import Vue from 'vue'
import { mapState } from 'vuex'

import Spinner from '@/components/Spinner'

import { formatByteCount, getChunkSize } from '@/utils'

import { getEngine } from '@/components/engines'
import { getConfigField, getDefaultValue } from '@/components/config_fields'

export default {
  name: 'Cycle',
  components: {
    Spinner
  },
  data () {
    return {
      refresh_interval: null,
      can_commit: false,
      is_committing: false,
      commit_progress: 0,
      is_downloading: false,
      download_progress: 0,
      is_loading: false
    }
  },
  computed: {
    ...mapState({
      cycle: state => state.cycle.cycle,
      download: state => state.record.download
    })
  },
  methods: {
    commit() {
      if(!this.can_commit || this.is_committing) {
        return
      }
      this.is_committing = true
      this.$refs.engine.preCommit()
        .then(() => {
          this.$store.dispatch('addCycleConfig', {
            uid: this.cycle.uid,
            config: this.cycle.client_config
          })
            .then(() => {
              this.$store.dispatch('commitCycle', { uid: this.cycle.uid })            
            })             
        })   
    },
    refresh() {
      if(!this.cycle.error && this.cycle.is_committed && this.cycle.progress < 100) {
        this.$store.dispatch('loadCycle', { uid: this.cycle.uid })        
      }
    },
    cancel() {
      this.$store.dispatch('cancelCycle', { uid: this.cycle.uid })        
    },
    getEngine(engine_code) {
      return getEngine(engine_code)
    },
    downloadRecord(record) {

      this.is_downloading = true
      this.download_progress = 0

      return this.$store.dispatch('clearDownload')
        .then(async() => {
          const chunkSize = getChunkSize()
          const fileSize = record.byte_count
          const chunkCount = Math.ceil(fileSize / chunkSize)

          for(let chunkIdx = 0; chunkIdx < chunkCount; chunkIdx++) {
            const offset = chunkSize * chunkIdx
            const length = Math.min(chunkSize, fileSize - offset)

            await this.$store.dispatch('downloadRecordChunk', {
              uid: record.uid,
              offset: offset,
              length: length
            })


            this.download_progress = (100 * (chunkIdx+1)) / chunkCount
          }

          const link = document.createElement('a')
          link.href = URL.createObjectURL(this.download)
          link.download = record.filename
          link.click()
          URL.revokeObjectURL(link.href)   
          this.is_downloading = false

        })

    },
    formatByteCount(byteCount) {
      return formatByteCount(byteCount)
    },
    setCanCommit(value) {
      this.can_commit = value
    },
    setCommitProgress(value) {
      this.commit_progress = value
    },    
    applyClientConfigTemplate() {
      let keys = Object.keys(this.cycle.client_config_template)
      let client_config = {}
      
      for (const idx in keys) {
        let key = keys[idx]
        client_config[key] = getDefaultValue(this.cycle.client_config_template[key].type)
      }

      this.cycle.client_config = client_config
    },
    getConfigField(field_code) {
      return getConfigField(field_code)
    },
    setConfigField(field, value) {
      Vue.set(this.cycle.client_config, field, value)
      this.$refs.engine.touch()
    },
    repeat() {
      this.$store.dispatch('openCycle', {
        cycle: {
          pump_uid: this.cycle.pump_uid
        }
      })
        .then(() => this.$router.push({name: 'cycle', params: {which: this.cycle.uid}}) )   
    }    
  },
  beforeMount() {
    this.is_loading = true
    const which = this.$route.params.which
    const uid = parseInt(which)
    if(!isNaN(uid)) {
      this.$store.dispatch('loadCycle', { uid: uid })
        .catch(() => this.$router.push({name:'not-found'}))
        .then(() => this.$store.dispatch('clearCycleDrops'))
        .then(() => this.$store.dispatch('clearCycleTomes'))
        .then(() => {
          if(this.$refs.engine) {
            this.$refs.engine.bind()
          }
          this.is_loading = false
        })

    } else {
      this.$router.push({name:'not-found'})
    }
  },
  mounted() {
    this.refresh_interval = setInterval(this.refresh, 500)
  },
  beforeDestroy() {
    clearInterval(this.refresh_interval)
  }
}
</script>
<style>
</style>