<template>

  <div class="field-body">

    <div class="field">

      <div class="control">
        <label class="radio">
          <input type="radio" :name="name" v-model="valueModel" 
            v-bind:value="true" :disabled="disabled"/>
          Yes
        </label>
        <label class="radio">
          <input type="radio" :name="name" v-model="valueModel" 
            v-bind:value="false" :disabled="disabled"/>
          No
        </label>                
      </div>

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>            
      </ul>
    </div>
  </div>


</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BooleanRadioConfigField',
  props: {
    name: String,
    template: Object,
    value: [Boolean, String],
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {  
    ...mapGetters(['isDirty']),
    valueModel: {
      get: function () {
        return this.value
      },
      set: function (x) {
        if(typeof x !== 'boolean') {
          this.$emit('input', false)
        } else {
          this.$emit('input', x)        
        }
      }
      
    }
  }
}
</script>
