<template>
  
  <div class="field-body">

    <div class="field">

      <div class="control pt-1">
        <a @click="showModal">
          {{ getShortHash }}
        </a>
      </div>

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>                  
      </ul>

    </div>
    
  </div>

</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'ConstantArrayConfigField',
  props: {
    name: String,
    template: Object,
    value: String,
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {
    ...mapState({
      pump: state => state.pump.pump,
      tanks: state => state.tank.tanks
    }),    
    ...mapGetters(['isDirty']),    
    getShortHash: function () {
      if (!this.value || this.value === '') {
        return '(none)'
      } else {
        return this.value.slice(0, 3) + '..' + this.value.slice(-3)
      }
    }
  },
  methods: {
    showModal() {
      this.$emit('open')
    }
  }
}
</script>