<template>

  <div class="field-body">

    <div class="field">

      <span class="icon is-size-5 my-2 mr-4"><i class="fas fa-arrow-left"></i></span>  

      <div class="control select">

        <select class="input" :name="name" 
          v-bind:class="{ 'is-danger' : isDirty && errors.length > 0 }"
          @change="setValue($event)" v-bind:value="value" :disabled="disabled">

          <option value="blank">Blank</option>
          <option value="random">Random</option>

          <option v-for="choice in Object.keys(template.options.choices)"
            v-bind:key="choice" :value="choice">
            {{ template.options.choices[choice] }}
          </option>

          <option v-for="arrayspec in inputArraySpecs"
            v-bind:key="arrayspec.value" :value="arrayspec.value">
            {{ arrayspec.label }}
          </option>

        </select>

      </div>

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>                  
      </ul>

    </div>
  </div>

</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'MappingSelectConfigField',
  props: {
    name: String,
    template: Object,
    value: String,
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {
    ...mapState({
      pump: state => state.pump.pump,
      tanks: state => state.tank.tanks
    }),    
    ...mapGetters(['isDirty']),
    inputPipes: function() {
      if (this.pump.pipes) {
        return this.pump.pipes.filter(x => x.is_input)
      } else {
        return []
      }
    },
    inputArraySpecs: function() {
      let arrayspecs = []

      this.inputPipes.forEach(pipe => {
        const tank = this.tanks.find(x => {
          return x.uid === pipe.tank_uid
        })

        if(tank) {
          tank.arrayspecs.forEach(arrayspec => {
            arrayspecs.push({
              'value': `arrayspec_${arrayspec.uid}`,
              'label': `${tank.name} / ${arrayspec.name}`
            })
          })
        }
      })

      return arrayspecs
    }
  },
  methods: {
    setValue(event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>
