<template>

  <div class="field-body">

    <div class="field">

      <div class="control">

        <input type="number" class="input" :name="name"
          v-bind:class="{ 'is-danger' : isDirty && errors.length > 0 }"
          @input="setValue($event)" v-bind:value="value" :disabled="disabled"/>

        <a class="button is-small ml-4 mt-1" v-if="template.options.has_dtype_min && dtypeIsInteger()" 
          :disabled="disabled" @click="setSpecificValue(getDtype(entity.dtype).min)">
          <span>Data Type Min</span>
          <span class="icon">
            <i class="fas fa-caret-down"></i>
          </span>
        </a>

        <a class="button is-small ml-4 mt-1" v-if="template.options.has_dtype_max && dtypeIsInteger()" 
          :disabled="disabled" @click="setSpecificValue(getDtype(entity.dtype).max)">
          <span>Data Type Max</span>
          <span class="icon">
            <i class="fas fa-caret-up"></i>
          </span>
        </a>    

      </div>   

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>            
      </ul>

    </div>

  </div>


</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'NumberConfigField',
  props: {
    name: String,
    template: Object,
    value: [Number, String],
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {
    ...mapState({
      dtypes: state => state.arrayspec.dtypes
    }),
    ...mapGetters(['isDirty'])
  },
  methods: {
    setValue(event) {
      this.$emit('input', event.target.value)
    },
    setSpecificValue(value) {
      this.$emit('input', value)
    },
    getDtype(code) {
      return this.dtypes.find(dtype => {
        return (dtype.code === code)
      })
    },
    dtypeIsInteger() {
      if(!this.entity.dtype) {
        return false
      }

      let result = this.dtypes.some(dtype => {
        return (dtype.code === this.entity.dtype && 'min' in dtype && 'max' in dtype)
      })
      return result
    }    
  }
}
</script>
