<template>

  <div class="field-body">

    <div class="field">

      <div class="control">
        <input type="text" class="input" :name="name"
          v-bind:class="{ 'is-danger' : isDirty && errors.length > 0 }"
          @input="setValue($event)" v-bind:value="value" :disabled="disabled"/>
      </div>    

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>            
      </ul>
    </div>
  </div>

</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TextConfigField',
  props: {
    name: String,
    template: Object,
    value: String,
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {  
    ...mapGetters(['isDirty'])
  },
  methods: {
    setValue(event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>
