<template>

  <div class="field-body">

    <div class="field-body">

      <div class="control">

        <input type="number" class="input" :name="name"
          v-bind:class="{ 'is-danger' : isDirty && errors.length > 0 }"
          v-model="numberModel" :disabled="disabled"/>

        <ul class="help is-danger" v-if="isDirty && errors.length > 0">
          <li v-for="(error, error_index) in errors" v-bind:key="error_index">
            {{ error }}
          </li>            
        </ul>

      </div>   

      <div class="control ml-3">
        <label class="radio py-2">
          <input type="radio" :name="`${name}_unit`"
            v-bind:value="'m'" v-model="unitModel" :disabled="disabled"/>
        </label>
        Minutes
        <label class="radio py-2">
          <input type="radio" :name="`${name}_unit`"
            v-bind:value="'h'" v-model="unitModel" :disabled="disabled"/>
        </label>
        Hours
        <label class="radio py-2">
          <input type="radio" :name="`${name}_unit`"
            v-bind:value="'d'" v-model="unitModel" :disabled="disabled"/>
        </label>
        Days        
      </div>

    </div>

  </div>


</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TimespanConfigField',
  props: {
    name: String,
    template: Object,
    value: [String],
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {
    ...mapGetters(['isDirty']),
    numberModel: {
      get: function () {
        if(!this.value) {
          return 0
        }
        return this.value.split('|')[0]
      },
      set: function (x) {
        this.$emit('input', x + '|' + this.value.split('|')[1])
      }
    },
    unitModel: {
      get: function () {
        if(!this.value) {
          return 'm'
        }
        return this.value.split('|')[1]
      },
      set: function (x) {
        this.$emit('input', this.value.split('|')[0] + '|' + x)
      }
    }
  }
}
</script>
