<template>

  <div class="field-body">

    <div class="field">
      
      <span v-if="template.options.icon_code" class="icon is-size-5 my-2 mr-4">
        <i :class="`fas fa-${template.options.icon_code}`"></i>
      </span>

      <div class="control select">

        <select class="input" :name="name" 
          v-bind:class="{ 'is-danger' : isDirty && errors.length > 0 }"
          @change="setValue($event)" v-bind:value="value" :disabled="disabled">

          <option v-if="!template.options.required" value="">
            <i>(none)</i>
          </option>

          <option v-for="tome in tomes" v-bind:key="tome.uid" :value="tome.uid">
            {{ tome.name }}
          </option>
          
        </select>

      </div>

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>            
      </ul>

    </div>

  </div>


</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'TomeSelectConfigField',
  props: {
    name: String,
    template: Object,
    value: [Number, String],
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {
    ...mapState({
      tomes: state => state.tome.tomes
    }),
    ...mapGetters(['isDirty'])
  },
  methods: {
    setValue(event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>
