<template>

  <div class="field-body">

    <div class="field">

      <div class="control select">

        <select class="input" :name="name" 
          v-bind:class="{ 'is-danger' : isDirty && errors.length > 0 }"
          @change="setValue($event)" v-bind:value="value" :disabled="disabled">

          <option v-for="user in users"
            v-bind:key="user.uid" :value="user.uid">
            {{ user.name }}
          </option>

        </select>

      </div>

      <ul class="help is-danger" v-if="isDirty && errors.length > 0">
        <li v-for="(error, error_index) in errors" v-bind:key="error_index">
          {{ error }}
        </li>            
      </ul>

      </div>   

  </div>

</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'UserSelectConfigField',
  props: {
    name: String,
    template: Object,
    value: [Number, String],
    errors: Array,
    disabled: Boolean,
    entity: Object
  },
  computed: {
    ...mapState({
      users: state => state.user.users
    }),    
    ...mapGetters(['isDirty'])    
  },
  methods: {
    setValue(event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>
