<template>
  <div id="app" class="is-family-monospace">
    <nav-bar/>
    <title-bar/>
    <tabs/>
    <div class="container p-3" :class="routeName">
      <messages/>
      <router-view :key="$route.fullPath"/>
    </div>
  </div>
</template>

<script>
import NavBar from '@/components/NavBar'
import TitleBar from '@/components/TitleBar'
import Tabs from '@/components/Tabs'
import Messages from '@/components/Messages'

export default {
  name: 'App',
  data () {
    return {
      renew_interval: null
    }
  },
  components: {
    NavBar,
    TitleBar,
    Tabs,
    Messages
  },
  computed: {
    routeName () {
      return this.$route.name
    }
  },
  methods: {
    reset () {
      this.$store.dispatch('reset')
    },
    renew () {
      if(this.$store.getters.isLoggedIn) {
        this.$store.dispatch('renew')
          .catch(() => {
            this.$store.dispatch('logout')
              .then(() => this.$router.push('/login/'))
          })
      }
    }
  },
  watch: {
    '$route': function () {
      this.reset()
    }
  },
  mounted() {
    
    this.renew_interval = setInterval(this.renew, 30 * 60000)
  },
  beforeUnmount() {
    clearInterval(this.renew_interval)
  }
}
</script>

<style lang="css">
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
.field-label {
  flex-grow: 2;
}
.field-label label {
  white-space: nowrap;
}
.field-body input.input {
  max-width: 480px;
}
progress::-webkit-progress-value {
  transition : width 0.5s ease-in-out;
}

</style>
